{% extends "conteneur_notice.html" %}
{% block corps %}

<style>
#text {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
}
</style>
<div id="text">
    <br/>
    <br/>
    <h1 class="text-center p-5" style="font-family: 'Bitter' !important">Administrer le privilège. La Ferme générale dans l'espace français et européen 1664-1794</h1>
    <h2 class="text-center" style="font-family: 'Bitter' !important">Contexte, positionnement et objectifs</h2>

    <div class="text-justify p-5">
        <br/>
        <div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Le projet FermGé vise à étudier l’<b>impact d’une organisation fiscale (1664-1794), discriminante mais rationnelle</b>, sur les territoires et les sociétés de la France moderne. Il cerne les dynamiques de fonctionnement d’une institution ancrée dans une culture du privilège et donc de l’inégalité, mais tout autant dans une culture administrative éclairée visant l’efficacité. Véritable « Etat dans l’Etat », omniprésente à des échelles diverses et sur des <b>territoires très différenciés</b> pour collecter près de 50 % des revenus ordinaires de la monarchie, dotée de moyens exceptionnels de coercition, mais capable de transactions, la Ferme générale a localement renforcé ou affaibli le sentiment d’injustice à l’interface avec les <b>sociétés plurielles</b> sur lesquelles elle agit. La confrontation entre une logique gestionnaire éclairée par une science et un droit administratifs nouveaux d’une part, et des identités géographiques et sociales plurielles généra des réactions qui se déclinèrent en pratiques et discours pluri-sémantiques sur l’inégalité, allant jusqu’à la radicalisation violente.</p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Le projet revient sur le paradigme d’une organisation purement coercitive véhiculé par une historiographie centrée sur la répression de la contrebande. Son originalité réside dans l’<b>approche globale</b> de l’objet d’histoire « Ferme générale », considérant pour la première fois cet acteur majeur de la modernité dans tous ses aspects, administratifs, politiques, économiques, sociologiques, géographiques. François Monnier, en 1996, déplora l’absence d’étude de la Ferme en elle-même (voir bibliographie). Aucun colloque ou journée d’études spécifique n’a été monté(e) sur le sujet à ce jour. Pour étudier les <b>dynamiques de gestion des privilèges sociaux et territoriaux</b> dans leur globalité et apprécier tout autant les conflictualités que les pratiques d’accommodements, voire les compromis politiques, le projet s’appuie sur une <b>collaboration interdisciplinaire de trois laboratoires Histoire/Géographie/Histoire du droit</b> en prenant acte des renouvellements heuristiques de chaque discipline. Le projet vise à restituer à la communauté scientifique des connaissances inédites sur cette organisation fiscale, dépositaire d’archives considérables au niveau des départements, mais surtout des analyses sur l’interface inégalitaire Impôt/territoires/sociétés. Il interroge le rapport à la souveraineté (la Ferme générale étant subrogée dans les droits du roi), à la nation, à la responsabilité; il met en évidence les dynamiques identitaires territoriales et leur éclatement/renforcement sous l’effet des rationalités pratiques mises en œuvre par une administration fiscale réputée pour son efficience ; il interroge donc la question de la cohésion nationale, telle qu’elle fut mise à l’épreuve par cette organisation, réinterprète la haine rébellionnaire et la dénonciation des inégalités telle qu’elle s’est exprimée au XVIIIe siècle. Au-delà, l’originalité du projet réside encore dans le questionnement d’un <b>binôme notionnel « inégalité/rationalité »</b> que nous élaborons à partir d’un modèle de gestion de l’inégalité (celui de la Ferme générale) qui contribua à l’émergence du droit administratif français et a été exporté à l’étranger (duché toscan, duché de Parme, Prusse, Pays-Bas méridionaux…). Nous émettons l’hypothèse que ce binôme est opérationnel pour étudier tout type d’organisation agissant globalement sur un territoire.
            </p>
        </div>


    </div>

</div>

{% endblock %}