{% extends "conteneur.html" %}
{% block afternav %}
{% include "partials/recherche.html" %}
{%endblock%}
{% block corps %}
<style>
    #background_home_page{
        background: #dde0ca;
    }
    #link {
        color: #932514;
           }
    .onglet {
        background: #f0f0f0;
    }
    .onglet:hover {
        cursor: pointer;
    }

</style>
<body id="background_home_page">

    <h1 style="color: #333333; font-family: 'Bitter', serif; font-size: 50px; font-weight: normal; line-height: 54px; margin: 0 0 54px;" class="pt-4">Dictionnaire Numérique de la Ferme générale <br/></h1>
    <div class="col-11 p-5 m-5" style="font-size:18px;">
        <p class="p-2 text-justify">
            Pourquoi <em>réduire</em> la Ferme générale en un dictionnaire ? Pour rassembler ce qui est épars, comprendre une organisation complexe dont le champ d’action est à la fois fiscal, financier, économique, commercial, politique, juridique, administratif, colonial et international, pour saisir les effets d’une telle structure sur un territoire lui-même bigarré par des privilèges de toute nature. L’approche lexicale répond au défi auquel les historiens se trouvaient confrontés : saisir cet objet d’histoire dans sa globalité. Ne serait-ce que la fonction première de cette organisation, la fiscalisation des denrées et des marchandises, nécessitait une mise en répertoire. Tout au plus avait-on exploré les mécanismes des gabelles, du monopole de la vente du tabac, de quelques douanes, mais la fiscalité du vin, des eaux-de-vie, de la viande, des poissons, des cartes à jouer, des cuirs, des huiles, des métaux, du papier, ou encore des produits coloniaux comme le café ou le sucre, demeurait presque entièrement méconnue, tout comme son évolution.</p>
        <p class="p-2 text-justify">
        La numérisation rend plus intelligible la connaissance de l’activité de cette compagnie grâce à une indexation très travaillée. Ici, le lecteur peut interroger une base de données organisée par notice (menu déroulant), par recherche avancée « plein texte », par thème, par index des administrations et juridictions ou par index des lieux : plus de mille toponymes sont référencés, attenants à un bureau, une brigade, une saisie, une rébellion…</p>
        <p class="p-2 text-justify">
            Non seulement cette <em>réduction</em> en un dictionnaire évolutif permet d’aborder les phénomènes rébellionnaires de fraude ordinaire et de contrebande liés à la mondialisation des échanges, mais elle fait découvrir des pratiques politiques et administratives d’arbitrage, parfois vexatoires, parfois accommodantes, comme ces conventions que la Ferme générale signa avec les corps constitués, Etats provinciaux, villes, corps de métiers, territoires étrangers enclavés ou pays voisins.
        </p>
        <p class="p-2 text-justify">
            Cet outil n’aurait pu être mis en œuvre sans la participation des historiens et historiens du droit qui ont bien voulu s’associer au projet et que nous remercions vivement. Un <em>Atlas de la Ferme générale</em>, des articles scientifiques, actes de colloque et ouvrages compléteront ce dictionnaire à l’horizon 2025-2026
        </p>
        <p class="p-2 text-justify pt-5">
            <hr/>
            Retrouvez l'actualité du projet FermeGé sur son carnet <a href="https://dicofg.hypotheses.org/" id="links_notices" class="font-weight-bold">Hypothèses.org</a>
        </p>
    </div>



<!--    <h4 class="text-muted font-wheight-bold pb-2">Actualités du projet et publications</h4>-->



<!--<div id="accordion">-->

<!--<div class="card mb-2 shadow-none border-top-0 border-left-0">-->
<!--    <div class="seminar-card-header btn bg-light onglet" data-toggle="collapse" data-target="#collapse0"-->
<!--         aria-expanded="true" aria-controls="collapse0">-->
<!--        <div class="row">-->
<!--            <div class="col-12 h-50 d-inline-block d-sm-none d-md-none text-left"><small>jj/mm/aaaa</small></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-3 d-none d-sm-block d-md-block text-left">jj/mm/aaaa</div>-->
<!--            <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left">-->
<!--                <h6 class="mb-0 font-weight-bold">Titre d'une actualité ou publication en lien avec le projet</h6>-->
<!--                <div class="text-secondary"><p class="mb-0 mt-1">Sous-titre d'une actualité ou présentation en lien avec le projet.</p></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div id="collapse0" class="collapse  text-left" aria-labelledby="heading0" data-parent="#accordion">-->
<!--        <div class="card-body">-->
<!--            <p><b>Résumé</b>&nbsp;: Cette section contient une présentation de l'actualité du projet ou de la publication. Elle peut-->
<!--            contenir des images ou des liens.-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--    </div>-->


<!--    <div id="accordion">-->
<!--  <div class="card p-0">-->
<!--    <div class="bg-light p-3" id="headingOne">-->
<!--        <button class="btn shadow-none btn-block bg-light text-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="this.blur();">-->
<!--          <div class="row">-->
<!--                <div class="col-12 h-50 d-inline-block d-sm-none d-md-none text-left img-thumbnail" id="onglet"><small>jj/mm/aaaa</small>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-3 d-none d-sm-block d-md-block text-left">jj/mm/aaaa<br/></div>-->
<!--                <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left">-->
<!--                    <h6 class="mb-0 font-weight-bold">Titre de l'actualité ou de la publication</h6>-->
<!--                    <div class="text-secondary"><p class="mb-0 mt-1">Sous-titre de l'actualité ou de la publication</p></div>-->
<!--                </div>-->
<!--        </button>-->
<!--    </div>-->

<!--    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">-->
<!--      <div class="card-body">-->
<!--       Texte de présentation de l'actualité concernant le projet ou de la publication. Ce paragraphe peut contenir des liens d'autres pages ou-->
<!--          des images.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--        <div class="card p-0">-->
<!--    <div class="bg-light p-3" id="headingTwo">-->
<!--        <button class="btn shadow-none btn-block bg-light text-dark" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="this.blur();">-->
<!--          <div class="row">-->
<!--                <div class="col-12 h-50 d-inline-block d-sm-none d-md-none text-left img-thumbnail" id="onglet"><small>19/07/2022 </small>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-3 d-none d-sm-block d-md-block text-left">19/07/2022<br/></div>-->
<!--                <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left">-->
<!--                    <h6 class="mb-0 font-weight-bold">Présentation Dictionnaire numérique de la Ferme générale</h6>-->
<!--                    <div class="text-secondary"><p class="mb-0 mt-1">Présentation et état de l'art de l'application web-->
<!--                        au 19 juillet 2022</p></div>-->
<!--                </div>-->
<!--        </button>-->
<!--    </div>-->

<!--    <div id="collapseTwo" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">-->
<!--      <div class="card-body">-->
<!--       Texte de présentation de l'actualité concernant le projet ou de la publication. Ce paragraphe peut contenir des liens d'autres pages ou-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--                <div class="card p-0">-->
<!--    <div class="bg-light p-3" id="headingThree">-->
<!--        <button class="btn shadow-none btn-block bg-light text-dark" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo" onclick="this.blur();">-->
<!--          <div class="row">-->
<!--                <div class="col-12 h-50 d-inline-block d-sm-none d-md-none text-left img-thumbnail" id="onglet"><small>jj/mm/aaaa</small>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-3 d-none d-sm-block d-md-block text-left">jj/mm/aaaa<br/></div>-->
<!--                <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left">-->
<!--                    <h6 class="mb-0 font-weight-bold">Titre de l'actualité ou de la publication</h6>-->
<!--                    <div class="text-secondary"><p class="mb-0 mt-1">Sous-titre de l'actualité ou de la publication</p></div>-->
<!--                </div>-->
<!--        </button>-->
<!--    </div>-->

<!--    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">-->
<!--      <div class="card-body">-->
<!--       Texte de présentation de l'actualité concernant le projet ou de la publication. Ce paragraphe peut contenir des liens d'autres pages ou-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



<!--</div>-->


<!--</div>-->
</body>
{% endblock %}