{% extends "conteneur_notice.html" %}
{% block corps %}
<body>
<style>
    .button:hover {
        background: #932514 !important;
        cursor: pointer;
        color : #fce8df !important;
    }
        .button:hover a {
        color : #fce8df !important;
        display: block !important;
    }
    .button a {
        display: block;
        width: 100%;
        height: 100%;
        }

    .links {
    color: #932514;
    }

    .links:hover {
    color: #932514;
    }



</style>

<div class="pt-5">
    <h2 class="pt-5" style="font-family: 'Bitter' !important">Axe 2: Atlas numérique de la Ferme générale.</h2>
    <p>En cours de développement -<br/> les illustrations incorporées sont des exemples</p>
    <br/>
    <br/>
</div>

<div id="carouselExampleIndicators" class="carousel slide text-dark border border-dark" data-interval="false">

  <div class="carousel-inner">
    <div class="carousel-item active" id="carte1">
      <img class="w-100" src="/static/images/maspfenning_table.jpg" alt="First slide">
    </div>
    <div class="carousel-item" id="carte2">
      <img class="w-100" src="/static/images/rebat.jpg" alt="Second slide">
    </div>
    <div class="carousel-item" id="carte3">
      <img class="w-100" src="/static/images/fonds.jpg" alt="Third slide">
    </div>
  </div>
</div>
<div class="pt-3 pb-3">
    <span class="border border-dark p-2">
    <a class="links" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="h-1 font-weight-bold" aria-hidden="true">< Précédent</span>
    <span class="sr-only bg-dark">Previous</span>
  </a>
     |
    <a class="links" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="h-1 font-weight-bold" aria-hidden="true"> Suivant ></span>
    <span class="sr-only bg-dark">></span>
  </a>
    </span>
</div>


<br/>
<br/>

<hr/>
<br/>
<br/>
<div class="pt-4 card border border-dark ml-5 mr-5">
    <p class="font-weight-bold">
    Index des cartes de l'atlas de la<br/> Ferme générale:
    </p>
<ul class="list-group">
    <li class="list-group-item button Input" data-target="#carouselExampleIndicators" data-slide-to="0"><a class="links" href="#">Titre de la carte 1</a></li>
    <li class="list-group-item button Input" data-target="#carouselExampleIndicators" data-slide-to="1"><a class="links" href="#">Titre de la carte 2</a></li>
    <li class="list-group-item button Input" data-target="#carouselExampleIndicators" data-slide-to="2"><a class="links" href="#">Titre de la carte 3</a></li>
  </ul>
</div>
</body>
{%endblock%}