{% extends "conteneur_notice.html" %}
{% block corps %}
<style>


    .card {
        transition: 0.2s ;
    }
    .card:hover {
        background: #932514 !important;
        cursor: pointer;
        color : #fce8df;
    }

   .links{
        color: #932514;
   }
   .links:hover {
        color: #932514;
   }

   small{
        white-space: nowrap;
   }

  #text {
    font-family: "Times New Roman", Times, serif;
    }

  h3 {
    font-family: "Times New Roman", Times, serif;
  }

  h4, h5 {
    font-family: "Times New Roman", Times, serif;

  }


</style>
<div id="text">
    <h1 class="text-center" style="font-family: 'Bitter' !important"> A propos </h1>
    <br/>
    <br/>
    <div class="text-justify">
        <h1 class="text-center font-weight-bold" style="font-family: 'Bitter' !important">Equipe du projet</h1>
    </div>
    <br/>
    <div>
        <div class="row justify-content-center align-items-center">
            <div class="col-5 mb-3">
                <div class="card img-thumbnail" data-toggle="modal" data-target="#modal-personne-permanent1"
                     id="carte">
                    <div class="member_image">
                        <img src="" class="card-img-top" alt="">
                    </div>
                    <div>
                        <h3>Marie-Laure Legay</h3>
                    </div>

                    <div class="card-body member-name">
                        <p class="p-3">Professeure d'histoire moderne<br/>
                        Direction du projet<br/>
                        Direction du Dictionnaire<br/>
                        Co-Direction de l’Atlas
                        </p>
                    </div>
                </div>
            </div>
            <div id="modal-personne-permanent1" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close modal-close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Marie-Laure LEGAY</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5 col-lg-5 col-sm-5 modal-member img-thumbnail">
                                    <img src="static/images/logo-irhis.png" class="card-img-top w-80 h-75" alt="">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 text-left">
                                    <h5>Professeur d’histoire moderne, Université de Lille</h5>
                                    <p><b>Univ/labo</b>: MESHS - IRHIS UMR 8529</p>
                                    <p><b>E-mail</b>: marie-laure.legay[at]univ-lille.fr</p>
                                    <p><b>Orcid</b>: 0000-0002-2818-2681 </p>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 text-left">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-5 mb-3">
                <div class="card img-thumbnail shadow member-hover shadow" data-toggle="modal"
                     data-target="#modal-personne-permanent2">
                    <div class="member_image">
                        <img src="" class="card-img-top" alt="">
                    </div>
                    <div>
                        <h3>Thomas Boullu</h3>
                    </div>

                    <div class="card-body member-name">
                        <p class="p-3">Maître de conférences Histoire du droit<br/>
                            Co-direction du Dictionnaire<br/><br/></p>
                    </div>
                </div>
            </div>
            <div id="modal-personne-permanent2" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close modal-close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Thomas BOULLU</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5 col-lg-5 col-sm-5 modal-member img-thumbnail">
                                    <img src="static/images/Logo_DRES.png" class="card-img-top w-80 h-75" alt="">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 text-left">
                                    <h5>Maître de conférences Histoire du droit, Université de Strasbourg</h5>
                                    <p><b>Univ/labo</b>: Université de Strasbourg, UMR 7354 DRES</p>
                                    <p><b>E-mail</b>: boullu[at]unistra.fr</p>
                                    <p><b>Orcid</b>: </p>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 text-left">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-5 mb-3">
                <div class="card img-thumbnail shadow member-hover shadow" data-toggle="modal"
                     data-target="#modal-personne-permanent3">
                    <div class="member_image">
                        <img src="" class="card-img-top" alt="">
                    </div>
                    <div>
                        <h3>Benjamin Furst</h3>
                    </div>

                    <div class="card-body member-name">
                    <p class="p-3">Ingénieur de recherche<br/>Co-direction de l’Atlas<br/><br/></p>
                    </div>
                </div>
            </div>
            <div id="modal-personne-permanent3" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close modal-close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Benjamin FURST</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5 col-lg-5 col-sm-5 modal-member img-thumbnail">
                                    <img src="static/images/logo_cresat.png" class="card-img-top w-100 h-80 pt-5" alt="">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 text-left">
                                    <h5>Ingénieur de recherche, Université de Haute-Alsace</h5>
                                    <p><b>Univ/labo</b>: UR 3436, CRESAT</p>
                                    <p><b>E-mail</b>: benjamin.furst[at]uha.fr</p>
                                    <p><b>Orcid</b>: 0000-0002-1895-1627 </p>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 text-left">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-5 mb-3">
                <div class="card img-thumbnail shadow member-hover shadow" data-toggle="modal"
                     data-target="#modal-personne-permanent4">
                    <div class="member_image">
                        <img src="" class="card-img-top" alt="">
                    </div>
                    <div>
                        <h3>Cédric Glineur</h3>
                    </div>

                    <div class="card-body member-name">
                        <p class="p-3">Professeur Histoire du droit<br/><br/><br/></p>
                    </div>
                </div>
            </div>
            <div id="modal-personne-permanent4" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close modal-close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Cédric GLINEUR</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5 col-lg-5 col-sm-5 modal-member img-thumbnail">
                                    <img src="static/images/logo_picardie.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 text-left">
                                    <h5>Professeur Histoire du droit, Université de Picardie-Jules-Verne</h5>
                                    <p><b>Univ/labo</b>: CEPRISCA UR 3911</p>
                                    <p><b>E-mail</b>: cedric.glineur@u-picardie.fr</p>
                                    <p><b>Orcid</b>: 0000-0002-2727-5480</p>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 text-left">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
<div class="col-5 mb-3">
                <div class="card img-thumbnail shadow member-hover shadow" data-toggle="modal"
                     data-target="#modal-personne-permanent5">
                    <div class="member_image">
                        <img src="" class="card-img-top" alt="">
                    </div>
                    <div>
                        <h3>Mathieu Soula</h3>
                    </div>

                    <div class="card-body member-name">
                        <p class="p-3">Professeur Histoire du droit<br/><br/><br/></p>
                    </div>
                </div>
            </div>
            <div id="modal-personne-permanent5" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close modal-close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Mathieu SOULA</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5 col-lg-5 col-sm-5 modal-member img-thumbnail">
                                    <img src="static/images/chad.jpg" class="card-img-top pt-5 mt-2 w-100 h-40" alt="">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 text-left">
                                    <h5>Professeur Histoire du droit, Université de Nanterre</h5>
                                    <p><b>Univ/labo</b>: CHAD EA 4417</p>
                                    <p><b>E-mail</b>: mathieu.soula@univ-parisnanterre.fr </p>
                                    <p><b>Orcid</b>: </p>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 text-left">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<div class="row justify-content-center align-items-center">
        <div class="col-5 mb-3">
            <div class="card img-thumbnail shadow member-hover shadow" data-toggle="modal"
                 data-target="#modal-personne-permanent9">
                <div class="member_image">
                    <img src="" class="card-img-top" alt="">
                </div>
                <div>
                    <h3>Valentin De Craene</h3>
                    </div>
                <div class="card-body member-name">
                        <p class="p-3">Ingénieur d’études - humanités numériques<br/><br/><br/></p>

                </div>
            </div>
        </div>
        <div id="modal-personne-permanent9" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close modal-close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Valentin DE CRAENE</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-5 modal-member img-thumbnail">
                                <img src="static/images/logo-MESHS.png" class="img-fluid pt-3" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 text-left">
                                <h5>Ingénieur d’études Humanités numériques – MESHS</h5>
                                <p><b>Univ/labo</b>: MESHS - UAR 3185</p>
                                <p><b>E-mail</b>: valentin.de-craene[at]univ-lille.fr</p>
                                <p><b>Orcid</b>: 0000-0002-6019-2572</p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 text-left">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row justify-content-center align-items-center">
        <div class="col-5 mb-3">
            <div class="card img-thumbnail shadow member-hover shadow" data-toggle="modal"
                 data-target="#modal-personne-permanent10">
                <div class="member_image">
                    <img src="" class="card-img-top" alt="">
                </div>
                <div>
                    <h3>Arnaud Le Gonidec</h3>
                    </div>
                <div class="card-body member-name">
                    <p class="p-3">Post-doctorant<br/><br/><br/></p>
                </div>
            </div>
        </div>
        <div id="modal-personne-permanent10" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close modal-close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Arnaud Le Gonidec</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-5 modal-member img-thumbnail">
                                <img src="static/images/logo_picardie.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 text-left">
                                <h5>Post-doctorant</h5>
                                <p><b>Univ/labo</b>: CEPRISCA UR 3911</p>
                                <p><b>E-mail</b>: arnaudlegonidec@msn.com</p>
                                <p><b>Orcid</b>: 0000-0002-6019-2572</p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 text-left">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row justify-content-center align-items-center">
<div class="col-5 mb-3">
            <div class="card img-thumbnail shadow member-hover shadow" data-toggle="modal"
                 data-target="#modal-personne-permanent8">
                <div class="member_image">
                    <img src="" class="card-img-top" alt="">
                </div>
                <div>
                    <h3>Albane Rossi</h3>
                    </div>
                <div class="card-body member-name">
                    <p class="p-3">Ingénieure d'études - Atlas <br/><br/><br/></p>
                </div>
            </div>
        </div>
        <div id="modal-personne-permanent8" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close modal-close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Albane Rossi</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-5 modal-member img-thumbnail">
                                <img src="static/images/logo_cresat.png" class="img-fluid pt-5 mt-3" alt="">
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 text-left">
                                <h5>Ingénieur d’études, Université de Besançon Franche-Comté</h5>
                                <p><b>Univ/labo</b>: Université de Besançon Franche-Comté</p>
                                <p><b>E-mail</b>: albane.rossi[at]uha.fr</p>
                                <p><b>Orcid</b>: 0000-0002-5324-7141</p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 text-left">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--
<hr class="p-3 m-3"/>
-->
<!--
    <br/>
-->
    <!--<div class="text-justify">
        <h2 class="text-center" style="font-family: 'Bitter' !important"> Contributeurs</h2>
        <br/>
        <div>
            <p>
                Le dictionnaire rassemble les notices des contributeurs suivants:
            <ul>
                <li><a href="https://univ-droit.fr/universitaires/38915-thomas-boullu" class="links">Thomas Boullu</a>,
                    université de Strasbourg, DRES UMR 7354
                </li>
                <li><a href="https://pro.univ-lille.fr/benoit-carre/" class="links">Benoît Carré</a>, université de Lille,
                    IRHIS
                </li>
                <li>
                    <a href="https://chrono-environnement.univ-fcomte.fr/spip.php?page=perso&nom=DELSALLE&prenom=Paul&lang=fr"
                       class="links">Paul Delsalle</a>, université de Franche-Comté
                </li>
                <li><a href="https://www.mcgill.ca/history/catherine-desbarats" class="links">Catherine Desbarats</a>,
                    université McGill, Montréal, Canada
                </li>
                <li><a href="http://ifg.univ-lorraine.fr/membres/enseignants-chercheurs-statutaires/evrard-sebastien"
                       class="links"> Sébastien Evrard</a>, université de Lorraine, Institut François-Gény
                </li>
                <li><a href="https://univ-droit.fr/universitaires/6159-glineur-cedric" class="links"> Cédric Glineur</a>,
                    université de Picardie, CEPRISCA
                </li>
                <li><a href="https://history.jhu.edu/directory/michael-kwass/" class="links">Michael Kwass</a>, université
                    Johns-Hopkins, Baltimore
                </li>
                <li><a href="https://pro.univ-lille.fr/marie-laure-legay/" class="links">Marie-Laure Legay</a>, université
                    de Lille, IRHIS
                </li>
            <li><a href="https://college-doctoral.univ-amu.fr/inscrit/13318" class="links">Cécile Bournat-Quérat</a>, université Aix-Marseille </li>

                <li><a href="#" class="links">Arnaud Le Gonidec</a>, université
                        de Picardie, CEPRISCA
                    </li>
                <li><a href="https://ihmc.ens.fr/-MARKOVIC-Momcilo-.html?lang=fr" class="links">Momcilo Markovic</a>,
                    université Paris 1, IHMC UMR 8066
                </li>
                <li><a href="https://telemme.mmsh.fr/?membres=anne-montenach" class="links">Anne Montenach</a>, université
                    Aix-Marseille, Telemme
                </li>
                <li><a href="https://www.unisg.ch/en/personenverzeichnis/5a440899-a069-4899-9f46-4086a191cabf"
                       class="links">Florian Schui</a>, université Saint-Galles, Suisse
                </li>
                <li><a href="http://larhra.ish-lyon.cnrs.fr/membre/837" class="links">Nicolas Soulas</a>, centre Norbert
                    Elias
                </li>
            </ul>
            </p>
        </div>
    </div>-->
</div>
</div>

{% endblock %}