{% extends "conteneur_index_notices.html" %}
{% block corps %}

<style>
    a {
    color: #932514;
    }

    a:hover {
    color: #932514;
    }
</style>

<body style="background: #dde0ca;">


<div style="min-height:650px;" class="pt-5">
    <h1 class="p-5" style="font-family: 'Bitter' !important">Le Dictionnaire numérique de la Ferme générale en graphe</h1>
    <div class="row">
        <div class="col-7">
            <iframe src="https://graphcommons.com/graphs/3148fa8a-63d4-47b4-89de-4e3cdc175004" class="img-thumbnail border border-secondary" frameborder="0" style="overflow:hidden;border:1px solid #DDDDDD;width:1px;min-width:100%;height:800px;min-height:800px;" width="100%" height="800" allowfullscreen></iframe>
        </div>
        <div class="col-4 text-justify pl-3" style="font-size:20px;">
            <p class="pt-5">
                Ce graphe permet de visualiser :
            <ul>
                <li>
                    l'ensemble du Dictionnaire numérique de la Ferme générale dans une optique de lecture distante.
                </li>
                <li>
                    les relations sémantiques entre les notices par le biais des références et renvois.
                </li>
                <li>
                    les clusters notionnels polarisant les réseaux de relations entre les notices
                </li>

            </ul>
            Ce graphe offre un outil exploratoire novateur pour le dictionnaire dans la mesure où il est possible d'accéder directement aux notices et à la liste de leurs relations.
            En cliquant sur chacun des nœuds, il est possible d'accéder au contenu éditorial associé en suivant l'url dans la section "Reference".
            On peut manipuler ce graphe à l’aide de l’onglet « Filter » qui permet de filtrer la visualisation en la spécifiant, en la simplifiant ou en la déployant.
            <br/>
            <br/>
            L'algorithme de visualisation appliqué est <a href="https://medialab.sciencespo.fr/productions/2014-forceatlas2-a-continuous-graph-layout-algorithm-for-handy-network-visualization-designed-for-the-gephi/" target="_blank">"Force Atlas 2"</a> simulant une force de répulsion ou attraction des noeuds.
            En effet, chaque noeud se repousse tels des aimants. Les relations (liens) entre les noeuds les maintiennent reliés tels des ressorts.
            L'algorithme applique ainsi la somme des forces sur chacun des noeuds et les positionnent jusqu'à trouver une situation stable.
            </p>
        </div>
    </div>
</div>
</body>
{%endblock%}