{% extends "conteneur_index_notices.html" %}
{% block corps %}
<style>
    .badge {
        background: #932514;
        color: #fce8df;
        font-size: 1.2rem;
    }
    .badge:hover {
        color: #fce8df;
        font-size: 0.8em;
    }
    a {
        color: #932514;
        display: block;
    }

    a:hover {
        color: #932514;
    }


    table{
        background-color: aliceblue !important;
    }

    btn-light:hover {
        color-background: #fce8df !important ;
    }

    #myBtn {
          display: none;
          position: fixed;
          bottom: 10px;
          right: 20px;
          z-index: 99;
          font-size: 15px;
          border: none;
          outline: none;
          background-color: black;
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 4px;
          opacity: 0.5;
          }

    .Input {
                background: #fce8df;
            }

    .Input:hover {
                background: #f6bca2;
                color: black;
            }
<!--    .btn {-->
<!--    font-weight: 600 !important-->
<!--    }-->

    th, td, tr {
        font-family: "Times New Roman", Times, serif !important ;
        font-size: 1.2rem;
    }

    ul li:not(.navbar li) {
        font-family: "Times New Roman", Times, serif !important ;
        font-size: 1.2rem;
        }

    ul.d-flex li {
  position: relative;
}

ul.d-flex li a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.list-group-item {
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  margin: 1px;
}

.list-group-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
</style>

<body style="background: #dde0ca;">
<div class="text-center h1 pt-5" style="font-family: 'Bitter' !important"> Index des notices publiées </div>
<div class="text-center h2" style="font-family: 'Bitter' !important">par ordre alphabétique</div>


<ul class="d-flex flex-wrap align-items-center justify-content-center pt-5">
    <li class="list-group-item btn btn-light Input"><a href="#A" class="font-weight-bold">A</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#B" class="font-weight-bold">B</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#C" class="font-weight-bold">C</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#D" class="font-weight-bold">D</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#E" class="font-weight-bold">E</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#F" class="font-weight-bold">F</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#G" class="font-weight-bold">G</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#H" class="font-weight-bold">H</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#I" class="font-weight-bold">I</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#J" class="font-weight-bold">J</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#K" class="font-weight-bold">K</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#L" class="font-weight-bold">L</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#M" class="font-weight-bold">M</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#N" class="font-weight-bold">N</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#O" class="font-weight-bold">O</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#P" class="font-weight-bold">P</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#Q" class="font-weight-bold">Q</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#R" class="font-weight-bold">R</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#S" class="font-weight-bold">S</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#T" class="font-weight-bold">T</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#U" class="font-weight-bold">U</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#V" class="font-weight-bold">V</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#W" class="font-weight-bold">W</a></li>
</ul>


<div class="p-5 m-5" id="A">
    <h3 class="p-3 font-weight-bold"> A </h3>
<table class="table table-bordered table-striped sortable">

                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort %}
            {%if notice.lettre == "A" %}
                    <tr><td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
                        {%if notice.auteur2%}<td> {{notice.auteur2}}</td> {%endif%}


                        <td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>
                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="B">
    <h3 class="p-3 font-weight-bold"> B </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "B" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}
                        {%if notice.auteur2%}<br/> {{notice.auteur2}}{%endif%}</td>

<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="C">
    <h3 class="p-3 font-weight-bold"> C </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "C" %}
    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="D">
    <h3 class="p-3 font-weight-bold"> D </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "D" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="E">
    <h3 class="p-3 font-weight-bold"> E </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "E" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="F">
    <h3 class="p-3 font-weight-bold"> F </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "F" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="G">
    <h3 class="p-3 font-weight-bold"> G </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "G" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="H">
    <h3 class="p-3 font-weight-bold "> H </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "H" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="I">
    <h3 class="p-3 font-weight-bold"> I </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "I" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="J">
    <h3 class="p-3 font-weight-bold"> J </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "J" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="K">
    <h3 class="p-3 font-weight-bold"> K </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "K" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="L">
    <h3 class="p-3 font-weight-bold"> L </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "L" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="M">
    <h3 class="p-3 font-weight-bold"> M </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "M" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="N">
    <h3 class="p-3 font-weight-bold"> N </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "N" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="O">
    <h3 class="p-3 font-weight-bold"> O </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "O" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="P">
    <h3 class="p-3 font-weight-bold"> P </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "P" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="Q">
    <h3 class="p-3 font-weight-bold"> Q </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "Q" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="R">
    <h3 class="p-3 font-weight-bold"> R </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "R" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="S">
    <h3 class="p-3 font-weight-bold"> S </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "S" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="T">
    <h3 class="p-3 font-weight-bold"> T </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "T" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="U">
    <h3 class="p-3 font-weight-bold"> U </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "U" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="V">
    <h3 class="p-3 font-weight-bold"> V </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "V" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

<div class="p-5 m-5" id="W">
    <h3 class="p-3 font-weight-bold"> W </h3>
<table class="table table-bordered table-striped">
                    <tr class="thead-light">
                        <th class="col-3">Titre</th>
                        <th class="col-3">Auteur</th>
                        <th class="col-3">Typologie</th>
                        <th class="col-3">Lien vers la notice</th>
                    </tr>
            {% for notice in index_notices|sort%}
            {%if notice.lettre == "W" %}
                    <tr>
                        <td class="col-1">{{notice.titre}}</td>
                        <td>{{notice.auteur}}</td>
<td>
                            <ul class="list-unstyled text-center">
                                    {%if notice.typologie%}
                                    <li>{{notice.typologie}}</li>
                                    {%endif%}


                                    {%if notice.typologie_2%}
                                    <li>{{notice.typologie_2}}</li>
                                    {%endif%}


                                    {%if notice.typologie_3%}
                                    <li>{{notice.typologie_3}}</li>
                                    {%endif%}


                                    {%if notice.typologie_4%}
                                    <li>{{notice.typologie_4}}</li>
                                    {%endif%}


                                    {%if notice.typologie_5%}
                                    <li>{{notice.typologie_5}}</li>
                                    {%endif%}

                            </ul>
                        </td>                    <td> <h5><a href="notice/{{notice.id}}" class="badge"> {{notice.titre}}</a></h5> </td>
                </tr>
            {%endif%}
            {% endfor %}
        </table>
</div>

    </body>
{% endblock %}