{% extends "conteneur_index_notices.html" %}
{% block corps %}
<style>
    .badge {
        background: #932514;
        color: #fce8df;
        font-size: 1.1em;
    }

    .badge:hover {
        color: #fce8df;
    }

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr >
     td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid black; //your desired color
    }

    a {
        color: #932514;
        display: block;
    }

    a:hover {
        color: #932514;
    }

    article.index {
        margin-left: 1%;
        margin-right: 2%;
    }

    article {
        font-family: 'Times New Roman', serif;
        font-family: 'Segoe UI', helvetica, sans-serif;
        scrollbar-color: #932514 #fce8df;
        scrollbar-width: auto;
        height: 1200px;
        overflow: auto;
        width: 100%;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
    }

    .Input {
            background: #fce8df;
            display: block important!
            }

    .Input:hover {
                background: #f6bca2;
                color: black;
                display: block important!
            }

    a:hover{
        text-decoration: none;
    }

        body{
    background: #dde0ca
    }

    table{
    background-color: white !important
    }

    p, td {
        font-family: "Times New Roman", Times, serif !important ;
        font-size: 1.2rem;
    }

ul li:not(.navbar li) {
        font-family: "Times New Roman", Times, serif !important ;
        font-size: 1.2rem;
        }


</style>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

<h1 class="pt-5 text-center" style="font-family: 'Bitter' !important">Index des entités spatiales du Dictionnaire<br/></h1><br/>
<p class="">Cet index regroupe l'ensemble des lieux, toponymes et territoires mentionnés dans les notices du Dictionnaire, selon la typologie scientifique suivante :
<div class="container">
    <ul class="text-left" id="liste">
        <li>
            Les "lieux d'habitation" regroupent les villes, villages et ports localisés.
        </li>
        <li>
            Les "lieux de contrôle" recensent les bureaux et brigades de la Ferme générale mentionnés.
        </li>
        <li>
            Les "territoires" forment les espaces géographiques plus diffus structurés par l'action de la Ferme générale.
        </li>
    </ul>
</div>

<ul class="d-flex align-items-center justify-content-center p-2">
    <li class="list-group-item btn btn-light Input"><a href="#habitation">Lieux d'habitation</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#controle">Lieux de contrôle</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#territoires">Territoires</a></li>
</ul>

<br/>
<hr style="border: 1px solid; color: #932514"/>
<article class="index">


    <h2 class="p-5" id="habitation" style="font-family: 'Bitter' !important"> Index des "lieux d'habitations" du Dictionnaire </h2>

    <p class="">Cet index contient :
    <div class="container">
        <ul class="  text-left">
            <li>
                La dénomination du lieu, à savoir le nom ou l'expression référentielle utilisée dans les notices pour mentionner le toponyme.
            </li>
            <li>
                Le tire de la notice dans laquelle est mentionnée ce toponyme
            </li>
            <li>
                Le lien vers cette notice
            </li>
            <li>
                Les identifiants Geonames, Dicotopo et/ou Wikidata lorsque ceux-ci sont disponibles. Ces identifiants inscrivent
                les entités nommées spatiales dans les principes du web de données.
            </li>
        </ul>
    </div>

    <div class="d-flex justify-content-center">
        <table class="table table-bordered p-5 m-5 b-5">
            <thead class="table-secondary">
            <tr>
                <th>Dénomination</th>
                <th>Titre de la notice concernée</th>
                <th>Lien vers la notice</th>
                <th>Identifiant Geonames</th>
                <th>Identifiant Dicotopo</th>
                <th>Identifiant Wikidata</th>
            </tr>
            </thead>
            <tbody>
            {% for org in referentiels_habitation_2 %}
            <tr>
                <td class="font-weight-bold table-active">{{ org.place }}</td>
                <td>
                    {% if org.notice_name_list %}
                    {% for name in org.notice_name_list.split(',') %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-flush">
                            {{ name }} <br/>
                        </li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_list %}
                    {% for link in org.notice_list.split(',') %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-flush">
                            <a href="notice/{{link}}" class="pm-0 badge">{{ link }}</a>
                        </li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_geonames_id_list %}
                    {% for id in org.notice_geonames_id_list.split(',') %}
                    <a href="https://www.geonames.org/{{ id }}">{{id}}</a>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_dicotopo_id_list %}
                    {% for id in org.notice_dicotopo_id_list.split(',') %}
                    <a href="https://dicotopo.cths.fr/places/{{ id }}">{{id}}</a>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_id_wikidata_list %}
                    {% for id in org.notice_id_wikidata_list.split(',') %}
                    <a href="http://www.wikidata.org/entity/{{id}}">{{id}}</a>
                    {% endfor %}
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>

<br/>
<hr style="border: 1px solid; color: #932514"/>
<h2 class="p-5" id="controle" style="font-family: 'Bitter' !important"> Index des "lieux de contrôle" du Dictionnaire </h2>
<p class="">Cet index contient :
<div class="container">
    <ul class="text-left">
        <li>
            La dénomination du lieu, à savoir le nom ou l'expression référentielle utilisée dans les notices pour mentionner le toponyme.
        </li>
        <li>
            Le tire de la notice dans laquelle est mentionnée ce toponyme
        </li>
        <li>
            Le lien vers cette notice
        </li>
        <li>
            Les identifiants Geonames, Dicotopo et/ou Wikidata lorsque ceux-ci sont disponibles. Ces identifiants inscrivent
            les entités nommées spatiales dans les principes du web de données. Ces index sont disponibles en téléchargement
            à l'adresse suivante : <a href="#">dépot Gitlab du projet</a>.
        </li>
    </ul>
</div>
<article class="index">
    <div class="d-flex justify-content-center">
        <table class="table table-bordered p-5 m-5 b-5">
            <thead class="table-secondary">
            <tr>
                <th>Dénomination</th>
                <th>Titre de la notice concernée</th>
                <th>Lien vers la notice</th>
                <th>Identifiant Geonames</th>
                <th>Identifiant Dicotopo</th>
                <th>Identifiant Wikidata</th>
            </tr>
            </thead>
            <tbody>
            {% for org in referentiels_controle_2 %}
            <tr>
                <td class="font-weight-bold table-active">{{ org.place }}</td>
                <td>
                    {% if org.notice_name_list %}
                    {% for name in org.notice_name_list.split(',') %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-flush">
                            {{ name }} <br/>
                        </li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_list %}
                    {% for link in org.notice_list.split(',') %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-flush">
                            <a href="notice/{{link}}" class="pm-0 badge">{{ link }}</a>
                        </li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_geonames_id_list %}
                    {% for id in org.notice_geonames_id_list.split(',') %}
                    <a href="https://www.geonames.org/{{ id }}">{{id}}</a>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_dicotopo_id_list %}
                    {% for id in org.notice_dicotopo_id_list.split(',') %}
                    <a href="https://dicotopo.cths.fr/places/{{ id }}">{{id}}</a>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_id_wikidata_list %}
                    {% for id in org.notice_id_wikidata_list.split(',') %}
                    <a href="http://www.wikidata.org/entity/{{id}}">{{id}}</a>
                    {% endfor %}
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>

<br/>
<hr style="border: 1px solid; color: #932514"/>

<h2 class="p-5" id="territoires" style="font-family: 'Bitter' !important"> Index des territoires du Dictionnaire </h2>
<p class="">Cet index contient :
<div class="container">
    <ul class="text-left">
        <li>
            La dénomination du lieu, à savoir le nom ou l'expression référentielle utilisée dans les notices pour mentionner le toponyme.
        </li>
        <li>
            Le tire de la notice dans laquelle est mentionnée ce toponyme
        </li>
        <li>
            Le lien vers cette notice
        </li>
        <li>
            Les identifiants Geonames, Dicotopo et/ou Wikidata lorsque ceux-ci sont disponibles. Ces identifiants inscrivent
            les entités nommées spatiales dans les principes du web de données. Ces index sont disponibles en téléchargement
            à l'adresse suivante : <a href="#">dépot Gitlab du projet</a>.
        </li>
    </ul>
</div>
<article class="index">
    <div class="d-flex justify-content-center">
        <table class="table table-bordered p-5 m-5 b-5">
            <thead class="table-secondary">
            <tr>
                <th>Dénomination</th>
                <th>Titre de la notice concernée</th>
                <th>Lien vers la notice</th>
                <th>Identifiant Geonames</th>
                <th>Identifiant Dicotopo</th>
                <th>Identifiant Wikidata</th>
            </tr>
            </thead>
            <tbody>
            {% for org in referentiels_territoire_2 %}
            <tr>
                <td class="font-weight-bold table-active">{{ org.place }}</td>
                <td>
                    {% if org.notice_name_list %}
                    {% for name in org.notice_name_list.split(',') %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-flush">
                            {{ name }} <br/>
                        </li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_list %}
                    {% for link in org.notice_list.split(',') %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-flush">
                            <a href="notice/{{link}}" class="pm-0 badge">{{ link }}</a>
                        </li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_geonames_id_list %}
                    {% for id in org.notice_geonames_id_list.split(',') %}
                    <a href="https://www.geonames.org/{{ id }}">{{id}}</a>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_dicotopo_id_list %}
                    {% for id in org.notice_dicotopo_id_list.split(',') %}
                    <a href="https://dicotopo.cths.fr/places/{{ id }}">{{id}}</a>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if org.notice_id_wikidata_list %}
                    {% for id in org.notice_id_wikidata_list.split(',') %}
                    <a href="http://www.wikidata.org/entity/{{id}}" class="btn-outline-danger">{{id}}</a>
                    {% endfor %}
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
{% endblock %}