{% extends "conteneur_index_notices.html" %}
{% block corps %}
<style>
    .badge {
        background: #932514;
        color: #fce8df;
        font-size: 1.1em;

    }
    .badge:hover {
        color: #fce8df;
    }

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td,
     .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid black; //your desired color
    }
    a {
        color: #932514;
        display: block;
        }

    a:hover {
        color: #932514;
    }


    article.index {
          margin-left: 1%;
          margin-right: 2%;
    }

    article {
          font-family: 'Times New Roman', serif;
          font-family: 'Segoe UI', helvetica, sans-serif;
          scrollbar-color: #932514 #fce8df;
          scrollbar-width: auto;
          height: 1200px;
          overflow: auto;
          width: 100%;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
    }


    .Input {
                background: #fce8df;
                display: block important!
            }

    .Input:hover {
                background: #f6bca2;
                color: black;
                display: block important!
            }

    a:hover{
        text-decoration: none;
    }

    body{
    background: #dde0ca
    }

    table{
    background-color: white !important;
    }

    p, td {
        font-family: "Times New Roman", Times, serif !important ;
        font-size: 1.3rem;
    }

ul li:not(.navbar li) {
        font-family: "Times New Roman", Times, serif !important ;
        font-size: 1.2rem;
        }

h2 {
        font-family: "Times New Roman", Times, serif !important ;
        font-size: 2.5rem;
}



</style>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
<body>
<h1 class="pt-5 m-5" style="font-family: 'Bitter' !important"> Index des références bibliographiques et sources <br/> </h1>
<p class="">Cet index regroupe l'ensemble des références bibliographiques et des institutions mentionnées dans les notices du Dictionnaire, selon la typologie suivante :
<div class="container">
    <ul class=" text-left">
        <li>
            Les "références bibliographiques" comprennent l'ensemble de la bibliographie scientifique indexée et mobilisée
            pour la rédaction des notices.
        </li>
        <li>
            Les "sources imprimées" recensent les sources publiées et des imprimés modernes mentionnés dans les notices.
        </li>
        <li>
            Les "sources primaires" regroupent les documents archivistiques mobilisés au cours de la constitution du
            dictionnaire.
        </li>
    </ul>
</div>
</p>
<ul class="d-flex flex-wrap align-items-center justify-content-center p-2">
    <li class="list-group-item btn btn-light Input"><a href="#bibliographie">Références bibliographiques</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#imprimees">Sources imprimées</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#primaires">Sources primaires</a></li>
</ul>
<br/>
<hr style="border: 1px solid; color: #932514"/>
<article class="index">
    <h2 id="bibliographie">Références bibliographiques</h2>
        <div class="d-flex justify-content-center">

<table class="table table-bordered p-5 m-5 b-5">
        <thead class="table-secondary">
            <tr>
                <th>Référence</th>
                <th>Notices</th>
            </tr>
        </thead>
        <tbody>
            {% for bibl in bibl_scientific|sort(attribute='bibl') %}
                <tr>
                    <td class="table-active">{{ bibl.bibl }}</td>
                    <td>
                        <ul class="list-group list-group-flush">
                            {% for notice in bibl.notices %}
                                <li class="list-group-item list-group-flush"><a href="/notice/{{ notice.notice_id }}">{{ notice.notice }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
</article>
<hr style="border: 1px solid; color: #932514"/>

<article class="index">
    <h2 id="imprimees">Sources imprimées</h2>
            <div class="d-flex justify-content-center">

    <table class="table table-bordered p-5 m-5 b-5">
        <thead class="table-secondary">
            <tr>
                <th>Référence</th>
                <th>Notices</th>
            </tr>
        </thead>
        <tbody>
            {% for bibl in bibl_sources|sort(attribute='bibl') %}
                <tr>
                    <td class="table-active">{{ bibl.bibl }}</td>
                    <td>
                        <ul class="list-group list-group-flush">
                            {% for notice in bibl.notices %}
                                <li class="list-group-item list-group-flush"><a href="/notice/{{ notice.notice_id }}">{{ notice.notice }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
            </div>
</article>

<hr style="border: 1px solid; color: #932514"/>
<article class="index">
    <h2 id="primaires">Sources primaires</h2>
            <div class="d-flex justify-content-center">

    <table class="table table-bordered p-5 m-5 b-5">
        <thead class="table-secondary">
            <tr>
                <th>Référence</th>
                <th>Notices</th>
            </tr>
        </thead>
        <tbody>
            {% for bibl in bibl_sources_primaires|sort(attribute='bibl') %}
                <tr>
                    <td class="table-active">{{ bibl.bibl }}</td>
                    <td>
                        <ul class="list-group list-group-flush">
                            {% for notice in bibl.notices %}
                                <li class="list-group-item list-group-flush"><a href="/notice/{{ notice.notice_id }}">{{ notice.notice }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
            </div>
</article>
</body>

{% endblock %}