{% extends "conteneur_index_notices.html" %}
{% block corps %}
<style>
    .badge {
        background: #932514;
        color: #fce8df;
        font-size: 1.1em;
    }

    .badge:hover {
        color: #fce8df;
    }

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr >
     td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid black; //your desired color
    }

    a {
        color: #932514;
        display: block;
    }

    a:hover {
        color: #932514;
    }

    article.index {
        margin-left: 1%;
        margin-right: 2%;
    }

    article {
        font-family: 'Times New Roman', serif;
        font-family: 'Segoe UI', helvetica, sans-serif;
        scrollbar-color: #932514 #fce8df;
        scrollbar-width: auto;
        height: 1200px;
        overflow: auto;
        width: 100%;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
    }

    .Input {
            background: #fce8df;
            display: block important!
            }

    .Input:hover {
                background: #f6bca2;
                color: black;
                display: block important!
            }

    a:hover{
        text-decoration: none;
    }
        body{
    background: #dde0ca
    }

    table{
    background-color: white !important
    }



</style>
<script>
$(document).ready(function(){
        $('[data-toggle="popover"]').popover();
});
</script>

<h1 class="pt-5 m-5" style="font-family: 'Bitter' !important"> Index des thématiques du dictionnaire </h1>

<p class="">Cet index regroupe l'ensemble des références bibliographiques et des institutions mentionnées dans les notices du Dictionnaire, selon la typologie suivante :
<div class="container">
    <ul class=" text-left">
        <li>
            Les "références bibliographiques" comprennent l'ensemble de la bibliographie scientifique indexée et mobilisée
            pour la rédaction des notices.
        </li>
        <li>
            Les "sources imprimées" recensent les sources publiées et des imprimés modernes mentionnés dans les notices.
        </li>
        <li>
            Les "sources primaires" regroupent les documents archivistiques mobilisés au cours de la constitution du
            dictionnaire.
        </li>
    </ul>
</div>

<ul class="d-flex flex-wrap align-items-center justify-content-center p-2">
    <li class="list-group-item btn btn-light Input"><a href="#norme">Notion norme</a></li>
    <li class="list-group-item btn btn-light Input"><a href="#privilege">Notion privilège</a></li>
</ul>

<br/>
<br/>

<hr style="border: 1px solid; color: #932514"/>


<article class="index">
    <h2 class="p-3" id="norme" style="font-family: 'Bitter' !important"> Index des références à la norme</h2>
    <p class=" text-center">Cet index contient:</p>
    <div class="container">
        <ul class="  text-left">
            <li>
                L'extrait d'une notice recouvrant la notion de norme.
            </li>
            <li>
                Le lien vers la notice concernée.
            </li>
            <li>
                Le sous-type de la notion concernée.
            </li>
        </ul>
    </div>
    <table class=" table table-bordered table-hover">
        <tr style="background-color: #e9ecef ">
            <th>Extrait(s) du dictionnaire</th>
            <th>Lien vers la notice</th>
            <th>Typologie de la notice</th>
        </tr>
        {% for span in span_norme%}
        <tr>
            <td>{{span.span}}</td>
            <td><h5><a href="notice/{{span.notice_id}}" class="badge"> {{span.notice}}</a></h5></td>
            <td>{{span.subtype}}</td>
        </tr>
        {% endfor %}
    </table>
</article>


<article class="index">
    <br/>
    <br/>
    <br/>
    <h2 class="p-3" id="privilege" style="font-family: 'Bitter' !important"> Index des références au privilège</h2>
    <p class=" text-center">Cet index contient:</p>
    <div class="container">
        <ul class="  text-left">
            <li>
                L'extrait d'une notice recouvrant la notion de norme.

            </li>
            <li>
                Le lien vers la notice concernée.

            </li>
            <li>
                Le sous-type de la notion concernée.

            </li>
        </ul>
    </div>
    <table class=" table table-bordered table-hover">
        <tr style="background-color: #e9ecef ">
            <th>Extrait(s) du dictionnaire</th>
            <th>Lien vers la notice</th>
            <th>Typologie de la notice</th>
        </tr>
        {% for span in span_privileges%}
        <tr>
            <td>{{span.span}}</td>
            <td><h5><a href="notice/{{span.notice_id}}" class="badge"> {{span.notice}}</a></h5></td>
            <td>{{span.subtype}}</td>
        </tr>
        {% endfor %}
    </table>
</article>

{% endblock %}