{% extends "conteneur_index_notices.html" %}
{% block corps %}

<style>
    .badge {
        background: #932514;
        color: #fce8df;
        font-size: 1.1em;
    }

    .badge:hover {
        color: #fce8df;
    }

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr >
     td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid black; //your desired color
    }

    a {
        color: #932514;
        display: block;
    }

    a:hover {
        color: #932514;
    }

    article.index {
        margin-left: 1%;
        margin-right: 2%;
    }

    article {
        font-family: 'Times New Roman', serif;
        font-family: 'Segoe UI', helvetica, sans-serif;
        scrollbar-color: #932514 #fce8df;
        scrollbar-width: auto;
        height: 1200px;
        overflow: auto;
        width: 100%;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
    }

    .Input {
            background: #fce8df;
            display: block important!
            }

    .Input:hover {
                background: #f6bca2;
                color: black;
                display: block important!
            }

    a:hover{
        text-decoration: none;
    }

        body{
    background: #dde0ca
    }

    table{
    background-color: white !important
    }

        p, td {
        font-family: "Times New Roman", Times, serif !important ;
        font-size: 1.2rem;
    }

    ul li:not(.navbar li) {
        font-family: "Times New Roman", Times, serif !important ;
        font-size: 1.2rem;
        }



</style>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
<div>
<h1 class="pt-5 text-center" style="font-family: 'Bitter' !important">Index des institutions et organisations <br/> du Dictionnaire<br/></h1>
</div>
<div class="text-center pl-5 ml-5 pr-5 mr-5 pt-5">
  <p class="text-center pl-5 ml-5 pr-5 mr-5" style="font-size: 1.3rem !important">Cet index regroupe l'ensemble des organisations mentionnées dans les notices du Dictionnaire, à savoir les provinces et l'ensemble des institutions politiques, territoriales et fiscales judiciaires indexées.<br/>
    Il est amené à être amplifié lors des prochaines mises à jour.
  </p>
</div>

<div class="input-group mx-auto mb-3 mt-5 pt-5" style="max-width: 500px;">
  <input id="search-input" type="text" class="form-control" placeholder="Recherche">
  <div class="input-group-append">
    <button id="search-button" class="btn Input" type="button">Rechercher</button>
  </div>
</div>

<div class="d-flex justify-content-center">
<table class="table table-bordered p-5 m-5 b-5">
  <thead class="table-secondary">
    <tr>
      <th>Province, institution ou organisation</th>
      <th>Notices</th>
    </tr>
  </thead>
  <tbody>
    {% for orgname in orgnames|sort(attribute='org') %}
      <tr>
        <td class="font-weight-bold table-active">{{ orgname.org }}</td>
        <td>
          <ul class="list-group list-group-flush">
            {% for notice in orgname.notices %}
              <li class="list-group-item list-group-flush">
<a href="{{ url_for('notice', id=notice.notice_id) }}" data-highlight="{{ notice.notice_id }}">
  {{ notice.notice }}
</a>
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


</div>


<script>
  window.addEventListener("load", function() {
  var searchInput = document.getElementById("search-input");
  var searchButton = document.getElementById("search-button");

  function scrollToRow(row) {
    row.scrollIntoView({ behavior: "smooth" });
    row.classList.add("highlight");
  }

  function clearHighlights() {
    var highlightedRows = document.querySelectorAll(".highlight");
    highlightedRows.forEach(function(row) {
      row.classList.remove("highlight");
    });
  }

  function performSearch() {
    clearHighlights();

    var searchTerm = searchInput.value.toLowerCase();
    var table = document.getElementsByTagName("table")[0];
    var rows = table.getElementsByTagName("tr");

    for (var i = 0; i < rows.length; i++) {
      var placeCell = rows[i].getElementsByTagName("td")[0];
      if (placeCell) {
        var placeText = placeCell.textContent || placeCell.innerText;
        if (placeText.toLowerCase().indexOf(searchTerm) !== -1) {
          scrollToRow(rows[i]);
          break;
        }
      }
    }
  }

  searchButton.addEventListener("click", performSearch);
  searchInput.addEventListener("keydown", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      performSearch();
    }
  });
});
</script>

{% endblock %}