{% extends "conteneur_notice.html" %}
{% block corps %}
<style>
    .highlight {
      background-color: yellow;
    }
    #myBtn {
          display: none;
          position: fixed;
          bottom: 10px;
          right: 20px;
          z-index: 99;
          font-size: 15px;
          border: none;
          outline: none;
          background-color: black;
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 4px;
          opacity: 0.5;
        }
    #links_notices {
        color: #d7270c !important;
    }
    #button:hover {
        background: #932514 !important;
        cursor: pointer;
        color : #fce8df !important;
    }
    #button:hover a {
        color : #fce8df !important;
        display: block !important;
    }
    #button a {
        display: block;
        width: 100%;
        height: 100%;
        }
    #notice {
      font-size: 1.4em; /* 120% de la taille de la police normale */
      font-family: "Times New Roman", Times, serif;
      line-height: 1.5;
    }
    #author{
      font-size: 1.5em; /* 120% de la taille de la police normale */
      font-family: "Times New Roman", Times, serif;
    }
    b {
      font-size: 1.3em; /* 120% de la taille de la police normale */
      font-family: "Times New Roman", Times, serif;
    }
    img {
        margin-top: 45px !important;
    }
    #img_title{
        padding-bottom: 20px !important;
    }

    #notice a {
        font-size: 1em !important;
    }
    .card-body {
        font-size: 1.2em !important;
    }
    .tableau {
      cursor: pointer;
    }
</style>
<body class="pt-5">
<script>
document.addEventListener('DOMContentLoaded', function() {
  // Code pour modifier les balises meta ici
});
document.addEventListener('DOMContentLoaded', function() {
  var titrePage = document.querySelector('h1'); // récupère la première balise h1
  if (titrePage) {
    var titre = titrePage.textContent; // récupère le texte contenu dans la balise h1
    var titreHTML = document.querySelector('title'); // récupère la balise title
    if (titreHTML) {
      titreHTML.textContent = titre + " - Dictionnaire numérique de la Ferme générale"; // remplace le texte dans la balise title par le texte dans la balise h1
    }
  }
});
document.addEventListener('DOMContentLoaded', function() {
  var titrePage = document.querySelector('h1'); // récupère la première balise h1
  if (titrePage) {
    var titre = titrePage.textContent; // récupère le texte contenu dans la balise h1
    var metaDescription = document.querySelector('meta[name="description"]'); // récupère la balise meta avec name="description"
    if (metaDescription) {
      var description = "Notice du Dictionnaire Numérique de la Ferme générale concernant le sujet suivant: " + titre; // concatène la chaîne de caractères "Notice du Dictionnaire de la Ferme générale concernant" avec le texte de la balise h1
      metaDescription.setAttribute('content', description); // remplace le contenu de l'attribut content de la balise meta par la chaîne de caractères
    }
  }
});
document.addEventListener('DOMContentLoaded', function() {
  var auteurPage = document.querySelector('p#author'); // récupère la première balise p avec id="author"
  if (auteurPage) {
    var auteur = auteurPage.textContent; // récupère le texte contenu dans la balise p
    var metaAuthor = document.querySelector('meta[name="author"]'); // récupère la balise meta avec name="author"
    if (metaAuthor) {
      metaAuthor.setAttribute('content', auteur); // remplace le contenu de l'attribut content de la balise meta par le texte dans la balise p
    }
  }
});
window.addEventListener('load', function() {
  var currentPageUrl = window.location.origin + window.location.pathname;
  var linksNotices = document.getElementById('links_notices');
  var links = linksNotices.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    var href = links[i].getAttribute('href');
    if (href == currentPageUrl || href == currentPageUrl + '#' || href == '') {
      links[i].setAttribute('onclick', 'return false;');
      links[i].style.color = 'inherit';
      links[i].style.textDecoration = 'none';
      links[i].style.pointerEvents = 'none';
      links[i].style.cursor = 'default'; // facultatif : changer le curseur pour indiquer que le lien est désactivé

      var text = links[i].textContent;
      var newNode = document.createElement('span');
      newNode.innerHTML = text;
      links[i].replaceWith(newNode);
    }
  }

  // Nouvelle fonction pour supprimer les éléments <a> avec un attribut href vide
  function removeEmptyHrefLinks() {
    var emptyHrefLinks = document.querySelectorAll('a[href=""]');
    for (var i = 0; i < emptyHrefLinks.length; i++) {
      var text = emptyHrefLinks[i].textContent;
      var newNode = document.createElement('span');
      newNode.innerHTML = text;
      emptyHrefLinks[i].replaceWith(newNode);
    }
  }

  // Appel de la fonction removeEmptyHrefLinks() après un certain délai pour s'assurer que tous les éléments ont été chargés
  setTimeout(removeEmptyHrefLinks, 1000);
});


window.addEventListener('load', function() {
  // Récupération du texte dans la balise 'def'
  const def = document.querySelector('def');
  let text = def.innerHTML;

  // Normalisation des espaces avant et après les virgules
  text = text.replace(/\s*,\s*/g, ', ').trim();

  // Normalisation des espaces avant et après les points en fin de phrase
  text = text.replace(/(\s*\.\s*)([^0-9])/g, '$1 $2').trim();

  // Suppression des espaces avant et après les tirets
  text = text.replace(/\s*-\s*/g, '-').trim();

  // Remplacement des trois points par des points de suspension typographiquement corrects
  text = text.replace(/\.\.\./g, '&hellip;');

  // Suppression des espaces après les parenthèses ouvrantes et avant les parenthèses fermantes
  text = text.replace(/\(\s+/g, '(').replace(/\s+\)/g, ')');

  // Ajout d'un alinéa après deux balises <br> successives
  text = text.replace(/(<br>\s*){2}/g, '<br><br>&emsp;&emsp;');

  // Ajout d'un alinéa après deux balises <br> ou une balise ouvrante/fermante entre elles
  text = text.replace(/(<br>\s*<\/?\w+>\s*){2}/g, '<br><br>&emsp;&emsp;');

  // Ajout d'un alinéa en début de texte
  text = '&emsp;&emsp;' + text;

  // Mise à jour du contenu de la balise 'def' avec le texte normalisé
  def.innerHTML = text;
});

window.addEventListener('load', function() {
  const brTags = document.getElementsByTagName('br');
  for (let i = 0; i < brTags.length; i++) {
    const nextSibling = brTags[i].nextSibling;
    if (nextSibling !== null && nextSibling.nodeName === '#text') {
      const nextNextSibling = nextSibling.nextSibling;
      if (nextNextSibling !== null && nextNextSibling.nodeName === 'BR') {
        const emsp = document.createTextNode('\u2003\u2003');
        nextSibling.parentNode.insertBefore(emsp, nextNextSibling);
      }
    }
  }
});

function formatDate(dateString) {
  const date = new Date(dateString);
  const options = { year: 'numeric', month: 'long', day: 'numeric' };
  const formattedDate = date.toLocaleDateString('fr-FR', options);
  return formattedDate.trim();
}

window.addEventListener('load', function() {
  const dateElements = document.querySelectorAll('.date');
  for (let i = 0; i < dateElements.length; i++) {
    dateElements[i].textContent = formatDate(dateElements[i].textContent);
  }
});

window.addEventListener("load", function() {
  // Extraction des informations de la citation
  var authorElem = document.querySelector(".author");
  var authors = authorElem.textContent.split(" et ");
  var author = authors.join(" and ");
  var title = document.querySelector(".title").textContent.trim();
  var year = document.querySelector(".year").textContent.trim();
  var booktitle = document.querySelector(".booktitle").textContent.trim();
  var url = document.querySelector(".url").textContent.trim();

  // Formatage de la citation BIBTEX
  var citation = "@misc{\n" +
                 "  author = {" + author + "},\n" +
                 "  title = {" + title + "},\n" +
                 "  year = {" + year + "},\n" +
                 "  howpublished = {in " + booktitle + ",\n" +
                 "    url = {" + url + "}},\n" +
                 "  note = {Date de consultation : " + new Date().toLocaleDateString() + "}\n" +
                 "}";
  console.log(citation);

  // Gestionnaire d'événements pour le bouton "Copier la citation"
  var copyBtn = document.querySelector("#copy-citation-btn");
  copyBtn.addEventListener("click", function() {
    // Copie la citation dans le presse-papiers
    navigator.clipboard.writeText(citation)
      .then(function() {
        alert("La citation a été copiée dans le presse-papiers au format BibTeX.");
      })
      .catch(function() {
        alert("Erreur lors de la copie de la citation dans le presse-papiers.");
      });
  });
});



$(window).on("load", function() {
  // Extraction des informations de la citation
  var authorString = $(".author").text().trim();
  var authors = authorString.split(" et "); // sépare les auteurs en un tableau
  var title = $(".title").text().trim();
  var year = $(".year").text().trim();
  var booktitle = $(".booktitle").text().trim();
  var url = $(".url").text().trim();

  // Formatage de la citation BibLaTeX
  var citation = "@misc{";
  for (var i = 0; i < authors.length; i++) {
    citation += authors[i].replace(/\s/g, '') + year + i + ",\n" + // ajoute un indice i pour distinguer les auteurs
                "  author = {" + authors[i] + "},\n"; // ajoute une entrée pour chaque auteur
  }
  citation += "  title = {" + title + "},\n" +
              "  year = {" + year + "},\n" +
              "  howpublished = {in \\textit{" + booktitle + "}\\newline\n" +
              "    \\url{" + url + "}},\n" +

              "  urldate = {" + new Date().toLocaleDateString() + "}\n" +
              "}";
  console.log(citation);

  // Gestionnaire d'événements pour le bouton "Copier la citation"
  $("#copy-citation-btn-biblatex").click(function() {
    // Copie la citation dans le presse-papiers
    navigator.clipboard.writeText(citation)
      .then(function() {
        alert("La citation a été copiée dans le presse-papiers au format BibLaTeX.");
      })
      .catch(function() {
        alert("Erreur lors de la copie de la citation dans le presse-papiers.");
      });
  });
});


window.onload = function() {
  document.getElementById('download_button_text').addEventListener('click', function() {
    var title = document.querySelector('h1').textContent.trim().replace(/\s+/g, '_');
    var author = document.querySelector('#author').textContent.trim().replace(/\s+/g, '_');
    var filename = title + '_' + author + '.txt';
    var content = "Titre : " + title + "\nAuteur : " + author + "\n\n" + document.getElementById('notice').textContent.replace(/\s+/g, ' ');
    content = content.replace(/(\n\s*){2,}/g, '\n');
    content = content.replace(/(\r\s*){2,}/g, '\r');
    content = content.replace(/(Sources et références bibliographiques:|Bibliographie scientifique:|Sources archivistiques:|Sources imprimées:)/g, '\n\n$1');
    var blob = new Blob([content], { type: 'text/plain' });
    var url = URL.createObjectURL(blob);
    var link = document.createElement('a');
    link.setAttribute('href', url);
    link.setAttribute('download', filename);
    document.body.appendChild(link);
    link.click();
  });
}



window.addEventListener('load', function() {
  var targetIds = ['sources', 'bibl_scientific', 'archives'];

  targetIds.forEach(function(id) {
    var ul = document.getElementById(id);
    if (ul) {
      var lis = ul.getElementsByTagName('li');

      for (var i = 0; i < lis.length; i++) {
        var text = lis[i].textContent;
        var newText = text.replace(/\.+/g, '.');

        lis[i].textContent = newText;
      }
    }
  });
});

function ajouterPointAuxLiDeNotice() {
  var spanNotice = document.getElementById("notice");
  var liElements = spanNotice.getElementsByTagName("li");

  for (var i = 0; i < liElements.length; i++) {
    var li = liElements[i];
    var text = li.innerHTML;

    if (text.charAt(text.length - 1) !== ".") {
      // Récupère le texte avant la balise <i> et ajoute le point
      var textBeforeItalic = text.substring(0, text.indexOf("<i>"));
      var textAfterItalic = text.substring(text.indexOf("<i>"));
      li.innerHTML = textBeforeItalic + textAfterItalic + ".";

    }
  }
}

    document.addEventListener('DOMContentLoaded', function() {
      // Récupérer tous les éléments de tableau
      var tableaux = document.querySelectorAll('.tableau');

      // Ajouter un écouteur d'événement à chaque tableau
      tableaux.forEach(function(tableau) {
        tableau.addEventListener('click', afficherEnGrand);
      });
    });

    function afficherEnGrand(event) {
      var tableau = event.target;

      // Créer une div pour afficher le tableau en grand
      var popup = document.createElement('div');
      popup.style.position = 'fixed';
      popup.style.top = '0';
      popup.style.left = '0';
      popup.style.width = '100%';
      popup.style.height = '100%';
      popup.style.background = 'rgba(0, 0, 0, 0.8)';
      popup.style.display = 'flex';
      popup.style.alignItems = 'center';
      popup.style.justifyContent = 'center';
      popup.style.zIndex = '9999';

      // Créer une image du tableau en grand
      var image = document.createElement('img');
      image.src = tableau.src; // Supposons que l'image source soit définie sur l'attribut "src" du tableau
      image.style.maxWidth = '100%';
      image.style.maxHeight = '100%';
      image.style.transform = 'scale(1.6)'; // Zoom de 2 fois la taille d'origine

      // Ajouter l'image à la popup
      popup.appendChild(image);

      // Ajouter la popup à la page
      document.body.appendChild(popup);

      // Ajouter un écouteur d'événement pour fermer la popup lorsque vous cliquez dessus
      popup.addEventListener('click', function() {
        document.body.removeChild(popup);
      });
    }

window.addEventListener('load', function() {
  var bibliographieContainer = document.querySelector('ul[type="bibliographie"]');
  if (bibliographieContainer) {
    var bibliographieItems = bibliographieContainer.querySelectorAll('li[type="bibliographie"]');

    // Ajouter la balise <author> entre la virgule et l'espace
    bibliographieItems.forEach(function(item) {
      var text = item.innerHTML; // Utiliser innerHTML pour inclure les balises enfants
      var commaIndex = text.indexOf(',');
      if (commaIndex !== -1) {
        var spaceIndex = text.lastIndexOf(' ', commaIndex);
        if (spaceIndex !== -1) {
          var author = text.substring(spaceIndex + 1, commaIndex).trim();
          var newContent = text.replace(author, '<author>' + author + '</author>');
          item.innerHTML = newContent;
        }
      }
    });

    // Trier les <li type="bibliographie"> par ordre alphabétique de <author>
    var sortedItems = Array.from(bibliographieItems).sort(function(a, b) {

      var authorA = a.querySelector('author').textContent.toLowerCase();
      var authorB = b.querySelector('author').textContent.toLowerCase();
      return authorA.localeCompare(authorB);
    });

    // Remplacer les anciens <li> par les nouveaux triés
    sortedItems.forEach(function(item) {
      bibliographieContainer.appendChild(item);
    });
  }
});




</script>
<div style="min-height:600px;">


    <div class="text-justify p-5" id="content">{{notice_txt|safe}}
        <div class="text-center card border-dark mb-2">
            <div class="card-header h-3">
                <b>Télecharger cette notice:</b>
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{f}}" download id="links_notices" target="_blank"> Au format XML/TEI</a></li>
                    <li class="list-group-item"><a id="download_button_text" style="cursor:pointer; color: #d7270c !important;" href="#">Au format texte brut</a></li>
                <button class="list-group-item" id="downloadPdfBtn" style="cursor:pointer; color: #d7270c !important; font-size: large;" href="#">Au format PDF</button>
<script>
document.getElementById('downloadPdfBtn').addEventListener('click', function() {
  var element = document.getElementById('content');

  var opt = {
    margin:       [2, 0.5, 2, 0.5],  // Augmenter la marge supérieure pour éviter la coupe du contenu
    filename:     'page.pdf',
    image:        { type: 'jpeg', quality: 0.98 },
    html2canvas:  { scale: 2 },
    jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' },
    pagebreak:    { mode: 'avoid-all' }  // Évite les coupures de page au milieu du contenu
  };

  html2pdf().from(element).set(opt).save();
});
</script>

                </ul>
            </div>
        </div>


    </div>
</div>


</body>
{% endblock %}

