{% extends "conteneur_notice.html" %}
{% block corps %}
<style>

    #myBtn {
          display: none;
          position: fixed;
          bottom: 10px;
          right: 20px;
          z-index: 99;
          font-size: 15px;
          border: none;
          outline: none;
          background-color: black;
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 4px;
          opacity: 0.5;
        }

    #links_notices {
        color: #932514 !important;
    }

    #button:hover {
            background: #932514 !important;
            cursor: pointer;
            color : #fce8df !important;
        }

    #button {
        color: #932514 !important;
        display: block;
        width: 100%;
        height: 100%;
        }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
        }
            .image {
    background-image: url({{url_for("static", filename="images/banniere.png")}});
	height: 230px;
}

.header {
    color: #932514;
     font-size: 3rem;
text-shadow: 6px 6px 4px rgba(198, 185, 185, 0.5);}

</style>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

<body class="pt-5">
<div class="image border border-dark mt-2">
<h1 class="text-center pl-5 ml-5 pt-5 font-weight-bold header" style="font-family: 'Bitter' !important ;">Moteurs de <br/>recherche<br/> avancée</h1>
</div>
<h2 class="text-center pt-4">Corpus des sources archivistiques et imprimées</h2>
<div class="p-3">
    <p class="text-muted">
        Veuillez remplir le champ du<br/> formulaire de recherche ci-dessous.
    </p>
</div>
<div>
    <div class="text-justify text-center pl-5">
        <form class="form" method="POST" action="{{url_for('rechercheavancee_sources')}}">
            <div class="row">

                <div class="col"></div>
                <div class="col">

                    <hr class="w-100"/>
                    <div class="pb-3 pt-3 text-center">
                        <strong style="color: #932514 !important;">Titre, auteur, date ou cote de la source : <button type="button" class="btn btn-sm btn-circle btn-light Input" data-toggle="popover" title="Source archivistique ou imprimée" data-content="Ce champ de recherche requête la base de données des sources imprimées mentionnées dans la section 'Sources et références bibliographiques' des notices.">&#63;</button></strong>
                        <input type="text" name="refSources" class="form-control" value=""/>
                    </div>
                    <div class="p-3">
                        <button type="submit" class="p-3 img-thumbnail" id="button">Rechercher</button>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">Haut de page</button>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
    </script>

</body>
{% endblock %}


