{% extends "conteneur_notice.html" %}
{% block corps %}
{% include "partials/recherche2.html" %}
<style>
    .results {
        color: #932514;
    }
    .results:hover {
        color: #fce8df;
        background: #932514;
    }
    .hero  {
        background-position: center center;
        padding:15vh;
        background-image: url({{url_for("static", filename="images/fonds.jpg")}});
            }
    .container .hero {
        background-image: none;
            }

</style>

<div style="min-height: 290px;">
    <h1 class="text-center">{{titre}}</h1>
    {% if resultats %}
    <p>Il y a {{resultats.total}} résultat(s) à votre requête : </p>

    {% for notice in resultats.items %}
    <p class="card bg-light"><a href="{{url_for('notice', id=notice.id)}}" class="results">
        Titre: {{notice.titre2}} <br/>
        Auteur: {{notice.auteur}}{%if notice.auteur2%}<br/>{{notice.auteur2}}{%endif%}<br/>
        Type: {{notice.typologie}}

    </a>
    </p>
    {% endfor %}


    <nav aria-label="research-pagination">
        <ul class="pagination justify-content-center">
            {% for page in resultats.iter_pages() %}
            {% if page %}

            {% if page != resultats.page %}
            <li class="page-item">
                <a class="page-link results" href="{{ url_for('recherche', keyword=keyword, page=page) }}" id="pagination">{{page}}</a>
            </li>
            {% else %}
            <li class="page-item active disabled">
                <a class="page-link results">{{page}} <span class="sr-only">(actuelle)</span></a>
            </li>
            {% endif %}

            {% else %}
            <li class="page-item disabled">
                <a class="page-link results">...</a>
            </li>
        </ul>
        {% endif %}{% endfor %}
    </nav>

    {% else %}
    <p> Entrez une requête dans la barre de recherche.</p><br/>
    <p>Si la recherche ne donne pas satifaction, vous pouvez afiner vers recherche en cliquant sur <a
            href="{{url_for('rechercheavancee')}}" class="results"> recherche avancée</a>, ou naviguer dans la base de donnée en <a
            href="{{url_for('index_notices')}}" class="results"> cliquant ici. </a></p>
    {% endif %}

</div>

{% endblock %}