{% extends "conteneur_notice.html" %}
{% block corps %}


<style>
#myBtn {
          display: none;
          position: fixed;
          bottom: 10px;
          right: 20px;
          z-index: 99;
          font-size: 15px;
          border: none;
          outline: none;
          background-color: black;
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 4px;
          opacity: 0.5;
        }

    #links_notices {
        color: #932514 !important;
    }

    #button:hover {
            background: #932514 !important;
            cursor: pointer;
            color : #fce8df !important;
        }

    #button {
        color: #932514 !important;
        display: block;
        width: 100%;
        height: 100%;
        }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
        }

    .image {
    background-image: url({{url_for("static", filename="images/banniere.png")}});
	height: 230px;
}

.header {
color: #932514;
  font-size: 3rem;
text-shadow: 6px 6px 4px rgba(198, 185, 185, 0.5);
}







</style>
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>
<body class="pt-5">
<div class="image border border-dark mt-2">
<h1 class="text-center pl-5 ml-5 pt-5 font-weight-bold header" style="font-family: 'Bitter' !important ;">Moteurs de <br/>recherche<br/> avancée</h1>
</div>

<h2 class="text-center pt-4">Corpus des notices du dictionnaire</h2>
<div class="p-3">
    <p class="text-muted">
        Veuillez remplir au moins un des champs du<br/> formulaire de recherche ci-dessous.
    </p>
</div>
<div>

    <div class="text-justify text-center pl-5">
        <form class="form" method="POST" action="{{url_for('rechercheavancee')}}">
            <div class="row">
                <div class="col"></div>
                <div class="col">

                    <div class="mb-3">
                        <label for="titreNotice" class="form-label font-weight-bold" style="color: #932514 !important;">Titre des notices:</label>
                        <input type="text" class="form-control" name="titreNotice" placeholder="Requête les titres des notices">
                    </div>



                    <div class="pb-3 pt-3 text-center">
                        <strong class="m-3" style="color: #932514 !important;">Auteur :</strong>
<select name="auteurNotice" class="form-control" aria-label="Sélectionnez un auteur">
    <option value=""></option>
    <option value="Thomas Boullu">Thomas Boullu</option>
    <option value="Cécile Bournat-Quérat">Cécile Bournat-Quérat</option>
    <option value="Clément Chevreau">Clément Chevreau</option>
    <option value="Sophie Delbrel">Sophie Delbrel</option>
    <option value="Karine Derharbe">Karine Deharbe</option>
    <option value="Paul Delsalle">Paul Delsalle</option>
    <option value="Cédric Glineur">Cédric Glineur</option>
    <option value="Michael Kwass">Michael Kwass</option>
    <option value="Marie-Laure Legay">Marie-Laure Legay</option>
    <option value="Arnaud Le Gonidec">Arnaud Le Gonidec</option>
    <option value="Christine Mengès-Le-Pape">Christine Mengès-Le-Pape</option>
    <option value="François Moncassin">François Moncassin</option>
    <option value="Anne Montenach">Anne Montenach</option>
    <option value="Jérôme Pigeon">Jérôme Pigeon</option>
    <option value="Mathieu Perrin">Mathieu Perrin</option>
    <option value="Florian Schui">Florian Schui</option>
    <option value="Nicolas Soulas">Nicolas Soulas</option>
    <option value="Sébastien Vosgien">Sébastien Vosgien</option>
    <option value="Momcilo Markovic">Momcilo Markovic</option>
<!--    <option value=""></option>-->
</select>
                    </div>


                    <div class="pb-3 pt-3 text-center">
                        <strong style="color: #932514 !important;">Type de notice : <button type="button" class="btn btn-sm btn-circle Input" data-toggle="popover" title="Typologie scientifique des notices" data-content="La typologie ci-dessous décrit le contenu thématique des notices à partir d'une indexation matière dans les métadonnées sur le modèle RAMEAU (BnF)">&#63;</button></strong>
                        <select name="typeNotice" class="form-control">
                            <option value=""></option>
                            <option value="Histoire administrative">Histoire administrative</option>
                            <option value="Histoire commerciale">Histoire commerciale</option>
                            <option value="Histoire des relations internationales">Histoire des relations internationales</option>
                            <option value="Histoire financière">Histoire financière</option>
                            <option value="Histoire fiscale">Histoire fiscale</option>
                            <option value="Histoire judiciaire">Histoire judiciaire</option>
                            <option value="Histoire politique">Histoire politique</option>
                        </select>
                    </div>


                    <div class="mb-3">
                        <label for="corpsNotice" class="form-label font-weight-bold" style="color: #932514 !important;">Recherche plein texte:</label>
                        <textarea class="form-control" name="corpsNotice" rows="3" placeholder="Interroge le contenu textuel des notices"></textarea>
                    </div>



                    <div class="p-3">
                        <button type="submit" class="p-3 img-thumbnail font-weight-bold" id="button">Rechercher</button>
                    </div>
                </div>

                <div class="col"></div>
            </div>
        </form>


    </div>

</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">Haut de page</button>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
    </script>


</body>
{% endblock %}


