{% extends "conteneur_notice.html" %}
{% block corps %}
<style>
    #myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 0.5;
}

    #links_notices {
        color: #932514 !important;
    }
#button:hover {
        background: #932514 !important;
        cursor: pointer;
        color : #fce8df !important;
    }

    #button {
        color: #932514 !important;
        display: block;
        width: 100%;
        height: 100%;
        }

    .btn-circle {
width: 30px;
height: 30px;
padding: 7px 10px;
border-radius: 25px;
font-size: 10px;
text-align: center;
}
</style>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
<body class="pt-5">
<h1 class="text-center pt-5">Recherche avancée par dates</h1>
<h2 class="text-center pt-4">Dates au sein du dictionnaire</h2>
<div>
    <p>
        Veuillez remplir au moins un des champs du formulaire de recherche.
    </p>
</div>
<div>
    <div class="text-justify text-center pl-5">
        <form class="form" method="POST" action="{{url_for('rechercheavancee_dates')}}">
<div class="row">
            <div class="col"></div>
            <div class="col">

                <div class="pb-3 pt-3 text-center">
                    <strong>Titre de la notice:</strong>
                    <input type="text" name="noticeDates" class="form-control" value="" />
                </div>

                <div class="pb-3 pt-3 text-center">
                    <strong>Date(s) mentionnées dans les notices:</strong>
                    <input type="text" name="dateDates" class="form-control" value="" />
                </div>

                <div class="pt-3 pb-3 text-center">
                    <strong>Numéro de la notice :</strong>
                    <input type="text" name="numeroNoticeDates" class="form-control" value="" placeholder=""/>
                </div>




    <div class="p-3">
    <button type="submit" class="p-3 img-thumbnail" id="button">Rechercher</button>
</div>
            </div>

            <div class="col"></div>

        </form>


            </div>

</div>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Haut de page</button>
    <script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
    </script>
</div>

</body>
{% endblock %}


