{% extends "conteneur_notice.html" %}

{% block corps %}
<style>
   .links_notices {
        color: #932514 !important;
    }
    .pagination a {
        color: #932514 !important;
        display: block;
        width: 100%;
        height: 100%;
    }
    .pagination:hover {
        background: #932514 !important;
        cursor: pointer;
        color : #fce8df !important;
    }
     .pagination:hover a {
        color : #fce8df !important;
        display: block !important;
    }
    a:hover {
    text-decoration : none !important
    }

</style>

<body class="pt-5">
        <div style="min-height: 600px;">
    <h1 class="text-center pt-5">Résultats de la recherche avancée par dates</h1>
    {% if resultats_dates %}
    <p>Votre recherche comporte {{resultats_dates.total}} résultat(s):</p>
<div class="row">
            <div class="col"></div>
            <div class="col-6 text-center">
    {% for date in resultats_dates.items %}
            <p class="card bg-light pl-5 ml-5 pr-5 mr-5 pagination">
        <a href="{{url_for('notice', id=date.numero_notice)}}" id="links_notices">
            <small class="text-dark h6">Date</small>: {{date.date}}<br/>
        <small class="text-dark h6">Notice</small>: {{date.notice}}<br/>
            <small class="text-dark h6">Numéro de la notice</small>: {{date.numero_notice}}<br/>

    </a>
    </p>
    {% endfor %}
</div>
<div class="col"></div></div>
    <nav aria-label="research-pagination">
        <ul class="pagination justify-content-center">
            {% for page in resultats_dates.iter_pages() %}
            {% if page %}

            {% if page != resultats_dates.page %}
            <li class="page-item pagination">
                <a class="page-link pagination" href="{{ url_for('rechercheavancee', page=page, keyword=keyword) }}">{{page}}</a>
            </li>
            {% else %}
            <li class="page-item active disabled">
                <a class="page-link results">{{page}} <span class="sr-only">(actuelle)</span></a>
            </li>
            {% endif %}

            {% else %}
            <li class="page-item disabled">
                <a class="page-link results">...</a>
            </li>
        </ul>
        {% endif %}{% endfor %}
    </nav>

    {% else %}
    <p> Il n'y a pas de résultats à votre requête.</p>
    <p>Vous pouvez entrer une autre requête, ou naviguer dans la base de donnée en <a
            href="{{url_for('index_notices')}}" class="results"> cliquant ici. </a></p>
    {% endif %}



</div>
</body>

{% endblock %}