{% extends "conteneur_notice.html" %}

{% block corps %}
<style>
    .links_notices {
        color: #932514 !important;
    }
    .pagination a {
        color: #932514 !important;
        display: block;
        width: 100%;
        height: 100%;
    }
    .pagination:hover {
        background: #932514 !important;
        cursor: pointer;
        color : #fce8df !important;
    }
     .pagination:hover a {
        color : #fce8df !important;
        display: block !important;
    }
    a:hover {
    text-decoration : none !important
    }

</style>

<body class="pt-5">
        <div style="min-height: 600px;">
    <h1 class="text-center pt-5" style="font-family: 'Bitter' !important">Résultats de la recherche avancée</h1>
    {% if resultats_notices %}
    <p>Votre recherche comporte {{resultats_notices.total}} résultat(s):</p>
<div class="row">
            <div class="col"></div>
            <div class="col-6 text-center">
    {% for notice in resultats_notices.items %}
            <p class="card bg-light pagination">
        <a href="{{url_for('notice', id=notice.id)}}" id="links_notices">
            <small class="text-dark h6 font-weight-bold">Titre de la notice</small>:<br/>{{notice.titre2}}<br/>
<small class="text-dark h6 font-weight-bold">Auteur</small>:<br/>
{{ notice.auteur }}<br/>
{% if notice.auteur3 %}
    {{ notice.auteur3 }}<br/>
{% elif notice.auteur2 and notice.auteur2 != "    " %}
    {{ notice.auteur2 }}<br/>
{% endif %}
           <small class="text-dark h6 font-weight-bold">Type(s)</small>:<br/> {{notice.typologie}}<br/>
                        {% if notice.typologie_2 %}
               {{notice.typologie_2}}<br/>
            {% endif %}
            {% if notice.typologie_3 %}
                {{notice.typologie_3}}<br/>
            {% endif %}
            {% if notice.typologie_4 %}
                {{notice.typologie_4}}<br/>
            {% endif %}
            {% if notice.typologie_5 %}
                {{notice.typologie_5}}<br/>
            {% endif %}
    </a>
    </p>
    {% endfor %}
</div>
<div class="col"></div></div>

    {% else %}
    <p> Il n'y a pas de résultats à votre requête.</p>
    <p>Vous pouvez entrer une autre requête, ou naviguer dans la base de donnée en <a
            href="{{url_for('index_notices')}}" class="results"> cliquant ici. </a></p>
    {% endif %}

</div>
</body>

{% endblock %}