{% extends "conteneur_notice.html" %}

{% block corps %}
<style>
    .links_notices {
        color: #932514 !important;
    }
    .pagination a {
        color: #932514 !important;
        display: block;
        width: 100%;
        height: 100%;
    }
    .pagination:hover {
        background: #932514 !important;
        cursor: pointer;
        color : #fce8df !important;
    }
     .pagination:hover a {
        color : #fce8df !important;
        display: block !important;
    }
    a:hover {
    text-decoration : none !important
    }

</style>

<body class="pt-5">
        <div style="min-height: 600px;">
    <h1 class="text-center pt-5" style="font-family: 'Bitter' !important">Résultats de la recherche avancée par références bibliographiques</h1>
    {% if resultats_biblScientific %}
    <p>Votre recherche comporte {{resultats_biblScientific.total}} résultat(s):</p>
<div class="row">
            <div class="col"></div>
            <div class="col-6 text-center">
    {% for bibl in resultats_biblScientific.items %}
            <p class="card bg-light pl-5 ml-5 pr-5 mr-5 pagination">
        <a href="{{url_for('notice', id=bibl.notice_id)}}" id="links_notices">
            <small class="text-dark h6 font-weight-bold">Titre de la notice</small>:<br/> {{bibl.notice}}<br/>
        <small class="text-dark h6 font-weight-bold">Référence bibliographique</small>:<br/> {{bibl.title}}<br/>
    </a>
    </p>
    {% endfor %}
</div>
<div class="col"></div></div>


    {% else %}
    <p> Il n'y a pas de résultats à votre requête.</p>
    <p>Vous pouvez entrer une autre requête, ou naviguer dans la base de donnée en <a
            href="{{url_for('index_notices')}}" class="results"> cliquant ici. </a></p>
    {% endif %}
</div>

</body>

{% endblock %}