{% extends "conteneur_notice.html" %}
{% block corps %}
<style>
    .links {
    color: #932514;
    }
    .links:hover {
    color: #932514;
    }
    .button:hover {
        background: #932514 !important;
        cursor: pointer;
        color : #fce8df !important;
    }
        .button:hover a {
        color : #fce8df !important;
        display: block !important;
    }
    .button a {
        display: block;
        width: 100%;
        height: 100%;
        }

    .onglet:hover {
        cursor: pointer;
        }


</style>

<body>
<div style="min-height:700px; font-family: Times New Roman, Times, serif; font-size: 1.2rem;">
<h2 class="pt-5 mt-5" style="font-family: 'Bitter' !important">Ancrage du projet dans <br/> les principes de la science ouverte</h2>

<h4 class="text-muted font-wheight-bold pt-4">Documentation du projet</h4>

    <div id="accordion">

<div class="card mb-2 shadow-none border-top-0 border-left-0">
    <div class="seminar-card-header btn bg-light onglet" data-toggle="collapse" data-target="#collapse0"
         aria-expanded="true" aria-controls="collapse0">
        <div class="row">
            <div class="col-12 h-50 d-inline-block d-sm-none d-md-none text-left"><small>jj/mm/aaaa</small></div>
        </div>
        <div class="row">
            <div class="col-3 d-none d-sm-block d-md-block text-left"><br/></div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left">
                <h6 class="mb-0 font-weight-bold">O.D.D et schémas d'encodage du projet</h6>
                <div class="text-secondary"><p class="mb-0 mt-1">Documentation des schémas d'encodage du projet (O.D.D
                    au format .xml)</p></div>
            </div>
        </div>
    </div>
    <div id="collapse0" class="collapse  text-left" aria-labelledby="heading0" data-parent="#accordion">
        <div class="card-body">
            <p><b>Présentation</b>&nbsp;: Cette section contient la documentation des deux schémas d'encodage appliqués
                au projet, sous forme d'O.D.D
                comprenant d'une part une présentation en prose des choix d'encodage et un schéma respectant les
                principes de l'O.D.D, destiné à être transformé
                au sein d'un logiciel d'encodage de type Oxygen afin d'obtenir une sortie .rng.
                Le premier O.D.D valide l'encodage automatique des notices individuelles alors que le second schématise
                le corpus TEI au sein de cette présente application.</p>
            <p><b>Lien vers le</b> : <a href="https://gitlab.huma-num.fr/vdecraene/DicoNumFermeGe"
                                        class="links">Gitlab</a></p>
            <button type="button" class="text-center p-3 img-thumbnail button"><a href="https://gitlab.huma-num.fr/vdecraene/DicoNumFermeGe/-/blob/main/ODD_schemas/ODD_v2.xml"
                                        class="links">Télécharger
                l'ODD des notices au format XML</a>
            </button>
            <br/><br/>
                        <button type="button" class="text-center p-3 img-thumbnail button"><a class="links"
                                                                                  href="https://gitlab.huma-num.fr/vdecraene/DicoNumFermeGe/-/blob/main/ODD_schemas/out/ODD_teiCorpus.rng">Télécharger
                l'ODD du corpus web au format RNG</a>
            </button>
            <br/><br/>
            <button type="button" class="text-center p-3 img-thumbnail button"><a class="links"
                                                                                  href="https://gitlab.huma-num.fr/vdecraene/DicoNumFermeGe/-/blob/main/ODD_schemas/ODD_v2.html">Télécharger
                l'ODD des notices au format HTML</a>
            </button>
            <br/><br/>
        </div>
    </div>
</div>

        <div class="card mb-2 shadow-none border-top-0 border-left-0">
    <div class="seminar-card-header btn bg-light onglet" data-toggle="collapse" data-target="#collapse1"
         aria-expanded="true" aria-controls="collapse1">
        <div class="row">
            <div class="col-12 h-50 d-inline-block d-sm-none d-md-none text-left"><small>jj/mm/aaaa</small></div>
        </div>
        <div class="row">
            <div class="col-3 d-none d-sm-block d-md-block text-left"><br/></div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left">
                <h6 class="mb-0 font-weight-bold">Dépôt Nakala et documentation</h6>
                <div class="text-secondary"><p class="mb-0 mt-1">Lien vers le dépôt Nakala et sa documentation</p></div>
            </div>
        </div>
    </div>
    <div id="collapse1" class="collapse  text-left" aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
            <p><b>Présentation</b>&nbsp;: ...</p>
            <button type="button" class="text-center p-3 img-thumbnail button"><a class="links"
                                                                                  href="">Lien vers le dépôt Nakala</a>
            </button>
        </div>
    </div>
</div>

    </div>
</div>



<!--<div class="card mb-2 shadow-none border-top-0 border-left-0">-->
<!--    <div class="seminar-card-header btn bg-light onglet" data-toggle="collapse" data-target="#collapse1"-->
<!--         aria-expanded="true" aria-controls="collapse1">-->
<!--        <div class="row">-->
<!--            <div class="col-12 h-50 d-inline-block d-sm-none d-md-none text-left"><small>jj/mm/aaaa</small></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-3 d-none d-sm-block d-md-block text-left"><br/></div>-->
<!--            <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left">-->
<!--                <h6 class="mb-0 font-weight-bold">Titre de la documentation</h6>-->
<!--                <div class="text-secondary"><p class="mb-0 mt-1">Description succincte de la documentation</p></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div id="collapse1" class="collapse  text-left" aria-labelledby="heading0" data-parent="#accordion">-->
<!--        <div class="card-body">-->
<!--            <p><b>Présentation</b>&nbsp;: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
<!--                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--                velit esse cillum dolore eu fugiat nulla pariatur.</p>-->
<!--            <p><b>Lien</b> : <a class="links" href="#">...</a></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="card mb-2 shadow-none border-top-0 border-left-0">-->
<!--    <div class="seminar-card-header btn bg-light onglet" data-toggle="collapse" data-target="#collapse2"-->
<!--         aria-expanded="true" aria-controls="collapse2">-->
<!--        <div class="row">-->
<!--            <div class="col-12 h-50 d-inline-block d-sm-none d-md-none text-left"><small>jj/mm/aaaa</small></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-3 d-none d-sm-block d-md-block text-left"><br/></div>-->
<!--            <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left">-->
<!--                <h6 class="mb-0 font-weight-bold">Titre de la documentation</h6>-->
<!--                <div class="text-secondary"><p class="mb-0 mt-1">Description succincte de la documentation</p></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div id="collapse2" class="collapse  text-left" aria-labelledby="heading0" data-parent="#accordion">-->
<!--        <div class="card-body">-->
<!--            <p><b>Présentation</b>&nbsp;: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
<!--                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--                velit esse cillum dolore eu fugiat nulla pariatur.</p>-->
<!--            <p><b>Lien</b> : <a id="links" href="#">...</a></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<br/>-->
<!--<h4 class="text-muted font-wheight-bold">Données ouvertes</h4>-->

<!--<div class="card mb-2 shadow-none border-top-0 border-left-0">-->
<!--    <div class="seminar-card-header btn bg-light onglet" data-toggle="collapse" data-target="#collapse3"-->
<!--         aria-expanded="true" aria-controls="collapse3">-->
<!--        <div class="row">-->
<!--            <div class="col-12 h-50 d-inline-block d-sm-none d-md-none text-left"><small>jj/mm/aaaa</small></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-3 d-none d-sm-block d-md-block text-left"><br/></div>-->
<!--            <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left">-->
<!--                <h6 class="mb-0 font-weight-bold">Titre de la documentation</h6>-->
<!--                <div class="text-secondary"><p class="mb-0 mt-1">Description succincte de la documentation</p></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div id="collapse3" class="collapse  text-left" aria-labelledby="heading0" data-parent="#accordion">-->
<!--        <div class="card-body">-->
<!--            <p><b>Présentation</b>&nbsp;: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
<!--                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--                velit esse cillum dolore eu fugiat nulla pariatur.</p>-->
<!--            <p><b>Lien</b> : <a class="links" href="#">...</a></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="card mb-2 shadow-none border-top-0 border-left-0">-->
<!--    <div class="seminar-card-header btn bg-light onglet" data-toggle="collapse" data-target="#collapse4"-->
<!--         aria-expanded="true" aria-controls="collapse4">-->
<!--        <div class="row">-->
<!--            <div class="col-12 h-50 d-inline-block d-sm-none d-md-none text-left"><small>jj/mm/aaaa</small></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-3 d-none d-sm-block d-md-block text-left"><br/></div>-->
<!--            <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left">-->
<!--                <h6 class="mb-0 font-weight-bold">Titre de la documentation</h6>-->
<!--                <div class="text-secondary"><p class="mb-0 mt-1">Description succincte de la documentation</p></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div id="collapse4" class="collapse  text-left" aria-labelledby="heading0" data-parent="#accordion">-->
<!--        <div class="card-body">-->
<!--            <p><b>Présentation</b>&nbsp;: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
<!--                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--                velit esse cillum dolore eu fugiat nulla pariatur.</p>-->
<!--            <p><b>Lien</b> : <a class="links" href="#">...</a></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
{%endblock%}