<!-- Ce fichier HTML permet d'appeler par le biais de l'API dédiée les classes bootstrap -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">

<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/html2pdf.js"></script>

