<!--
    Ce fichier contient les métadonnées concernant l'ensemble des pages HTML
    au sein de l'application web

    La balise meta contenant l'attribut name="keywords" pourra être complétée avec
    les mot-clés servant au référencement du site web.
  -->

<meta name="description" content="Dictionnaire numérique de la Ferme générale (1664-1794) développé par le projet ANR FermeGé">
<meta name="keywords" content="dictionnaire, Ferme générale, histoire administrative, histoire financière, histoire politique">
<meta name="author" content="Marie-Laure Legay">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="static/images/logo_fermege.png">