<!-- Ce template est appelé par la fonction recherche et sert de base de
visualisation à la page recherche (cela permet en l'occurrence de
réutiliser le bandeau de la page
d'accueil) -->

<div class="hero jumbotron">
  <div class="container-fluid">

  </div>
</div>