<style>
  #Input {
                background: #fce8df;
                color: black;
            }
  #Input:hover {
                background: #f6bca2;
                color: black;
            }
</style>

<div class="hero jumbotron pt-7">
  <div class="container">
    <form class="form" action="{{url_for('recherche')}}" method="GET">

    <div class="input-group">
      <input type="search" name="keyword" class="form-control form-control-lg bg-light" placeholder="Faire une recherche">
      <span class="input-group-btn">
        <button class="btn" id="Input" role="button">Rechercher</button>
      </span>
    </div>

    </form>

  </div>
</div>