<!-- Ce document HTML est un conteneur qui sert de base à la structure des pages.
Les conteneurs accueillent les autres templates. Ce présent conteneur est utilisé
comme structure principale de la page de l'index des notices-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Dictionnaire numérique de la Ferme générale</title>
    {% include "partials/metadata.html" %}
    {% include "partials/css.html" %}

</head>
<!-- Nous déclarons ci-dessous un ensemble de classes complémentaires aux classes
     Bootstrap afin de respecter la charte graphique développée au sein du projet -->
<style type="text/css">
                       html {
                  position: relative;
                  min-height: 100%;
                }
              body {
                margin-bottom: 200px ;
                overflow-x: hidden !important;
            }
                #footer {
                background: #f0f0f0;
                position: absolute;
                bottom: 0;
                width: 100%;
            }
            .hero  {
                background-position: center;
                padding-top: 225px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                background-image: url({{url_for("static", filename="images/banniere.png")}});
            }
            .container .hero {
                background-image: none;
            }

            #navBar {
                background: #932514;
                text-color: #0e0e0e;
                box-shadow: none;
                font-size: 1.2rem !important;
            }

             a {

                font-size: 1.2rem !important;
            }

            .btn_nav{
                color: #fce8df;
            }
            .btn_nav:hover{
                background: #fce8df;
                color : #0e0e0e;
            }
            .Input {
                background: #fce8df;
            }
            .Input:hover {
                background: #f6bca2;
                color: black;
            }
            .dropdown-menu {
                outline: none !important;
                box-shadow: none !important;
            }
            .dropdown-item {
                outline: none !important;
                box-shadow: none !important;
            }
            .dropdown-item.active, .dropdown-item:active {
                color: black !important;
                background-color: inherit;
                }
            .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
                background-color: inherit;
                color: black !important;
            }

            #links_notices {
                color: #932514;
            }
            * {
                font-family: "Segoe UI", helvetica, sans-serif !important;
                }

            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #e22e23;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: #fce8df;
                display: block;
                transition: 0.3s;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 35px;
                right: 13px;
                font-size: 36px;
                margin-left: 50px;
            }

            #main {
                transition: margin-right .5s;
                padding: 16px;
            }

            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }

            .sidenavR {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                visibility: visible;
                top: 0;
                right: 0;
                background-color: #932514;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidenavR a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: #818181;
                display: block;
                transition: 0.3s;
                background: #fce8df;
            }

            .sidenavR a:hover {
                color: black;
                background: #f6bca2;
            }

            .sidenavR .closebtn {
                position: absolute;
                top: 35px;
                right: 13px;
                font-size: 36px;
                margin-left: 50px;
                }

           #button:hover {
                background: #932514 !important;
                cursor: pointer;
                color : #fce8df !important;
                    }

           #button:hover a {
                color : #fce8df !important;
                display: block !important;
                    }

           #button a {
                display: block;
                width: 100%;
                height: 100%;
                    }

           #mainR {
                transition: margin-right 0.3s;
                padding: 16px;
                 }

          @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }

          .dropdown-menu {
            max-height: 400px !important;
            overflow-y: auto !important;
            }


    </style>

<body>
 <!--
     Nous incluons par le biais du langage Jinja2 les fichiers metadata et css.
     Ainsi, les métadonnées et les classes CSS sont héritées et transmises aux autres
     templates inclus
     -->

 <!--
En raison d'un conflit entre Bootstrap et les classes CSS ajoutées,
nous avons eu recours ici à la déclaration d'un attribut ID pour assurer une
uniformité de l'identité graphique. Les avertissements de l'IDE ne représentent
pas d'erreurs d'affichage
-->
<nav class="navbar navbar-expand-md justify-content-between fixed-top" id="navBar">
    <ul class="nav nav-pills">
        <li class="btn_nav">
            <a class="btn btn_nav" href="{{url_for('accueil')}}">Accueil</a>
        </li>
        <li class="dropdown btn_nav">
            <a class="nav-link dropdown-toggle btn_nav" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Découvrir le projet
            </a>
            <div class="dropdown-menu btn_nav" aria-labelledby="navbarDropdown">

                <a class="dropdown-item shadow-none" href="{{url_for('about')}}">Présentation du projet</a>
                <a class="dropdown-item shadow-none" href="{{url_for('equipe')}}">L'équipe du projet</a>
                <a class="dropdown-item" href="{{url_for('science_ouverte')}}">FermeGé et la Science Ouverte</a>
<!--                <a class="dropdown-item disabled">Atlas numérique de la Ferme générale (à venir)</a>-->
            </div>

        </li>
        <li class="dropdown btn_nav">
            <a class="nav-link dropdown-toggle btn_nav" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Recherche avancée
            </a>
            <div class="dropdown-menu btn_nav" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('rechercheavancee')}}">Recherche avancée : notices</a>
                <a class="dropdown-item" href="{{url_for('rechercheavancee_bibl_scientific')}}">Recherche avancée : bibliographie</a>
                <a class="dropdown-item" href="{{url_for('rechercheavancee_sources')}}">Recherche avancée : sources</a>
            </div>

        </li>
        <li class="dropdown btn_nav">
            <a class="nav-link dropdown-toggle btn_nav" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Index
            </a>
            <div class="dropdown-menu btn_nav" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('index_notices')}}">Index des notices</a>
                <a class="dropdown-item" href="{{url_for('index_placename')}}">Index toponymique</a>
                <a class="dropdown-item" href="{{url_for('index_orgname')}}">Index des organisations</a>
                <a class="dropdown-item" href="{{url_for('index_sources_biblio')}}">Index de la bibliographie et des sources</a>
            </div>
        </li>
        <li class="btn_nav">
            <a class="nav-link btn_nav" href="#">Le dictionnaire en graphe (à venir)</a>
        </li>

    </ul>
    <form class="form-inline" action="{{url_for('recherche')}}" method="GET">
        <input class="form-control text-dark" name="keyword" type="search" placeholder="Recherche rapide"
               aria-label="Recherche">
        <button class="btn Input" type="submit">Rechercher</button>
    </form>
</nav>
{% block afternav %}{%endblock%}

<div class="text-center">
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    <div class="row">
        <div class="col">

            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>

    </div>
    {% endif %}
    {% endwith %}
    <div class="row">

        <div class="col p-5">
            {% block corps %}{% endblock %}
        </div>

    </div>

</div>

</body>
<br>
<br>
<footer class="text-center text-dark img-thumbnail" id="footer">
    <div class="row align-items-center">
        <div class="col"><a href="https://www.meshs.fr/page/accueil" target="_blank"><img
                    src="../static/images/logo-MESHS.png" class="img-fluid" alt="Logo de la MESHS" style="width:50%"/></a>
        </div>
        <div class="col"><a href="https://irhis.univ-lille.fr/" target="_blank"><img src="../static/images/logo-irhis.png"
                                                                                     class="img-fluid"
                                                                                     alt="Logo IRHIS" style="width:50%"/></a>
        </div>
        <div class="col">
            <a href="https://anr.fr/fr/projets-finances-et-impact/projets-finances/projet/funded/project/anr-21-ce41-0019/?tx_anrprojects_funded%5Bcontroller%5D=Funded&cHash=5c64d94ca826534590e484c6f39658b3"
               target="_blank">
                <img src="../static/images/Logo_Agence_Nationale_de_la_Recherche.png" class="img-fluid"
                     alt="Logo de l'ANR" style="width:50%"/></a>
        </div>
        <div class="col">
            <a href="https://dres.unistra.fr/" target="_blank">
                <img src="../static/images/Logo_DRES.png" class="img-fluid" alt="Logo DRES" style="width:50%"/>
            </a>
        </div>
        <div class="col">
            <a href="http://www.gip-recherche-justice.fr/publication/administrer-le-privilege-la-ferme-generale-dans-lespace-francais-et-europeen-1664-1794/"
               target="_blank"><img src="../static/images/Logo_mission_droit.png" class="img-fluid"
                                     alt="Logo de la mission droit" style="width:50%"/>
            </a>
        </div>
        <div class="col">
            <a href="https://www.cresat.uha.fr/" target="_blank"><img src="../static/images/logo_Cresat.png" class="img-fluid"
                                                                      alt="Logo du CRESAT" style="width:50%"/>
            </a>
        </div>
        <div class="col">
            <a href="https://chad.parisnanterre.fr/" target="_blank"><img src="../static/images/chad.jpg" class="img-fluid"
                                                                         alt="Logo du CHAD" style="width:50%"/>
            </a>
        </div>
        <div class="col">
            <a href="http://www.ceprisca.fr/" target="_blank"><img src="../static/images/logo_ceprisca.png" class="img-fluid"
                                                                     alt="Logo du CEPRISCA" style="width:30%"/>
            </a>
        </div>
        <div class="col">
            <a href="https://gip-ierdj.fr/fr/" target="_blank"><img src="../static/images/logo_IERDJ.png" class="img-fluid"
                                                                    alt="Logo de l'IERDJ" style="width:50%"/>
            </a>
        </div>
    </div>
    <div>
        <p>Liens vers: <a href="https://gitlab.huma-num.fr/vdecraene/DicoNumFermeGe" id="links_notices">Gitlab</a> - <a
                href="#" id="links_notices">Nakala</a></p>
    </div>
</footer>
</html>