<!-- Ce document HTML est un conteneur qui sert de base à la structure des pages.
Les conteneurs accueillent les autres templates. Ce présent conteneur est utilisé
comme structure principale pour les pages autres que l'accueil et l'index des
notices -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Dictionnaire numérique de la Ferme générale</title>
    <!--
     Nous incluons par le biais du langage Jinja2 les fichiers metadata et css.
     Ainsi, les métadonnées et les classes CSS sont héritées et transmises aux autres
     templates inclus
     -->

    {% include "partials/metadata.html" %}
    {% include "partials/css.html" %}

    <!-- Nous déclarons ci-dessous un ensemble de classes complémentaires aux classes
     Bootstrap afin de respecter la charte graphique développée au sein du projet -->


<style type="text/css">

            #background_home_page{
                background: #dde0ca;
            }

                        html {
                  position: relative;
                  min-height: 100%;
                }
            body {
                margin-bottom: 200px ;
                overflow-x: hidden !important;
            }
                #footer {
                background: #f0f0f0;
                position: absolute;
                bottom: 0;
                width: 100%;
            }
            .hero  {
                background-position: center;
                padding-top: 225px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                background-image: url({{url_for("static", filename="images/banniere.png")}});
            }
            .container .hero {
                background-image: none;
            }
            #navBar {
                background: #932514;
                text-color: #0e0e0e;
                box-shadow: none;
                font-size: 1.2rem !important;
            }

             a {

                font-size: 1.2rem !important;
            }

            .btn_nav{
                color: #fce8df;
            }
            .btn_nav:hover{
                background: #fce8df;
                color : #0e0e0e;
            }
            .Input {
                background: #fce8df;
            }
            .Input:hover {
                background: #f6bca2;
                color: black;
            }
            .dropdown-menu {
                outline: none !important;
                box-shadow: none !important;
            }
            .dropdown-item {
                outline: none !important;
                box-shadow: none !important;
            }
            .dropdown-item.active, .dropdown-item:active {
                color: black !important;
                background-color: inherit;
                }
            .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
                background-color: inherit;
                color: black !important;
            }


            #links_notices {
                color: #932514;
            }

            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #e22e23;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: #fce8df;
                display: block;
                transition: 0.3s;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 35px;
                right: 13px;
                font-size: 36px;
                margin-left: 50px;
            }

            #main {
                transition: margin-right .5s;
                padding: 16px;
            }

            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }

            .sidenavR {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                visibility: visible;
                top: 0;
                right: 0;
                background-color: #932514;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidenavR a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: #818181;
                display: block;
                transition: 0.3s;
                background: #fce8df;
            }

            .sidenavR a:hover {
                color: black;
                background: #f6bca2;
            }

            .sidenavR .closebtn {
                position: absolute;
                top: 35px;
                right: 13px;
                font-size: 36px;
                margin-left: 50px;
                }

           #button:hover {
                background: #932514 !important;
                cursor: pointer;
                color : #fce8df !important;
                    }

           #button:hover a {
                color : #fce8df !important;
                display: block !important;
                    }

           #button a {
                display: block;
                width: 100%;
                height: 100%;
                    }

           #mainR {
                transition: margin-right 0.3s;
                padding: 16px;
                 }

          @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }

              #background :not(.table){
    style="background: #dde0c;
    }

              .dropdown-menu {
            max-height: 400px !important;
            overflow-y: auto !important;
            }


    </style>
</head>
<body>

<!--
En raison d'un conflit entre Bootstrap et les classes CSS ajoutées,
nous avons eu recours ici à la déclaration d'un attribut ID pour assurer une
uniformité de l'identité graphique. Les avertissements de l'IDE ne représentent
pas d'erreurs d'affichage
-->

<nav class="navbar navbar-expand-md justify-content-between fixed-top" id="navBar">
    <ul class="nav nav-pills">
        <li class="btn_nav">
            <a class="btn btn_nav" href="{{url_for('accueil')}}">Accueil</a>
        </li>
        <li class="dropdown btn_nav">
            <a class="nav-link dropdown-toggle btn_nav" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Découvrir le projet
            </a>
            <div class="dropdown-menu btn_nav" aria-labelledby="navbarDropdown">

                <a class="dropdown-item shadow-none" href="{{url_for('about')}}">Présentation du projet</a>
                <a class="dropdown-item shadow-none" href="{{url_for('equipe')}}">L'équipe du projet</a>
                <a class="dropdown-item" href="{{url_for('science_ouverte')}}">FermeGé et la Science Ouverte</a>
<!--                <a class="dropdown-item disabled">Atlas numérique de la Ferme générale (à venir)</a>-->
            </div>

        </li>

        <li class="dropdown btn_nav">
            <a class="nav-link dropdown-toggle btn_nav" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Recherche avancée
            </a>
            <div class="dropdown-menu btn_nav" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('rechercheavancee')}}">Recherche avancée : notices</a>
                <a class="dropdown-item" href="{{url_for('rechercheavancee_bibl_scientific')}}">Recherche avancée : bibliographie</a>
                <a class="dropdown-item" href="{{url_for('rechercheavancee_sources')}}">Recherche avancée : sources</a>
            </div>

        </li>
        <li class="dropdown btn_nav">
            <a class="nav-link dropdown-toggle btn_nav" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Index
            </a>
            <div class="dropdown-menu btn_nav" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('index_notices')}}">Index des notices</a>
                <a class="dropdown-item" href="{{url_for('index_placename')}}">Index toponymique</a>
                <a class="dropdown-item" href="{{url_for('index_orgname')}}">Index des organisations</a>
                <a class="dropdown-item" href="{{url_for('index_sources_biblio')}}">Index de la bibliographie et des sources</a>
            </div>
        </li>
        <li class="btn_nav">
            <a class="nav-link btn_nav" href="#">Le dictionnaire en graphe (à venir)</a>
        </li>

    </ul>
    <form class="form-inline" action="{{url_for('recherche')}}" method="GET">
        <input class="form-control text-dark" name="keyword" type="search" placeholder="Recherche rapide"
               aria-label="Recherche">
        <button class="btn Input" type="submit">Rechercher</button>
    </form>
</nav>

{% block afternav %}{%endblock%}

<div class="text-center">
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    <div class="row">
        <div class="col side_col">

            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>

    </div>
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-3 img-thumbnail side_col" id="background_home_page">

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                {%for notice in docs%}
                <a href="{{url_for('notice', id = notice.id)}}">{{notice.titre}}</a>
                {%endfor%}
            </div>

            <div id="main">
                <br/>
                <br/>
                <br/>
            </div>

            <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
        </div>
        <div class="col">
            {% block corps %}{% endblock %}
            <p class="text-center">
                <br/>
                <br/>
                <br/>
            </p>
        </div>
        <div class="col-3 img-thumbnail" id="background_home_page">

            <br/>
            <br/>
            <div id="mySidenavR" class="sidenavR">
                <a href="javascript:voidR(0)" onclick="closeNavR()" class="btn text-center p-2 m-2" style="display: inline-block;">&times;</a>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre A:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "A" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>

                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre B:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "B" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>


                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre C:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "C" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre D:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "D" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre E:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "E" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre F:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "F" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre G:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "G" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre H:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "H" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre I:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "I" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre J:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "J" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre K:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "K" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre L:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "L" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre M:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "M" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre N:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "N" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre O:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "O" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre P:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "P" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 2px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre Q:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "Q" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre R:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "R" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre S:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "S" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre T:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "T" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre U:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "U" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre V:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "V" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre W:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "W" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre X:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "X" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre Y:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "Y" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="dropdown pt-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="background: #fce8df; color:black">
                        Lettre Z:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for notice in docs|sort(attribute='titre')%}
                        {%if notice.lettre == "Z" %}
                        <a href="{{url_for('notice', id = notice.id)}}" style="padding: 5px; margin: 1px;">{{notice.titre}}</a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
            </div>

            <script>
function openNavR() {
  document.getElementById("mySidenavR").style.width = "250px";
  document.getElementById("mainR").style.marginRight = "250px";
}

function closeNavR() {
  document.getElementById("mySidenavR").style.width = "0";
  document.getElementById("mainR").style.marginRight= "0";
}
function generatePDF() {
  // Récupérer le contenu de la balise <span id="notice">
  var noticeContent = document.getElementById('notice').innerHTML;

  // Créer un nouveau document PDF
  var doc = new jsPDF();

  // Ajouter le contenu de la notice au document PDF
  doc.fromHTML(noticeContent, 15, 15);

  // Télécharger le document PDF
  doc.save('notice.pdf');
}

            </script>
            <div id="sidenavR">
                <span style="cursor:pointer; position:absolute; top: 65px; right:65px" class="btn Input" onclick="openNavR()"> &#10094; Liste des notices <br/> publiées</span>
            </div>
            <br/>
            <br/>
            <br/>

        </div>
    </div>

</div>

</body>

<footer class="text-center text-dark img-thumbnail" id="footer">
    <div class="row align-items-center">
        <div class="col"><a href="https://www.meshs.fr/page/accueil" target="_blank"><img
                    src="../static/images/logo-MESHS.png" class="img-fluid" alt="Logo de la MESHS" style="width:50%"/></a>
        </div>
        <div class="col"><a href="https://irhis.univ-lille.fr/" target="_blank"><img src="../static/images/logo-irhis.png"
                                                                                     class="img-fluid"
                                                                                     alt="Logo IRHIS" style="width:50%"/></a>
        </div>
        <div class="col">
            <a href="https://anr.fr/fr/projets-finances-et-impact/projets-finances/projet/funded/project/anr-21-ce41-0019/?tx_anrprojects_funded%5Bcontroller%5D=Funded&cHash=5c64d94ca826534590e484c6f39658b3"
               target="_blank">
                <img src="../static/images/Logo_Agence_Nationale_de_la_Recherche.png" class="img-fluid"
                     alt="Logo de l'ANR" style="width:50%"/></a>
        </div>
        <div class="col">
            <a href="https://dres.unistra.fr/" target="_blank">
                <img src="../static/images/Logo_DRES.png" class="img-fluid" alt="Logo DRES" style="width:50%"/>
            </a>
        </div>
        <div class="col">
            <a href="http://www.gip-recherche-justice.fr/publication/administrer-le-privilege-la-ferme-generale-dans-lespace-francais-et-europeen-1664-1794/"
               target="_blank"><img src="../static/images/Logo_mission_droit.png" class="img-fluid"
                                     alt="Logo de la mission droit" style="width:50%"/>
            </a>
        </div>
        <div class="col">
            <a href="https://www.cresat.uha.fr/" target="_blank"><img src="../static/images/logo_Cresat.png" class="img-fluid"
                                                                      alt="Logo du CRESAT" style="width:50%"/>
            </a>
        </div>
        <div class="col">
            <a href="https://chad.parisnanterre.fr/" target="_blank"><img src="../static/images/chad.jpg" class="img-fluid"
                                                                         alt="Logo du CHAD" style="width:50%"/>
            </a>
        </div>
        <div class="col">
            <a href="http://www.ceprisca.fr/" target="_blank"><img src="../static/images/logo_ceprisca.png" class="img-fluid"
                                                                     alt="Logo du CEPRISCA" style="width:30%"/>
            </a>
        </div>
        <div class="col">
            <a href="https://gip-ierdj.fr/fr/" target="_blank"><img src="../static/images/logo_IERDJ.png" class="img-fluid"
                                                                    alt="Logo de l'IERDJ" style="width:50%"/>
            </a>
        </div>
    </div>
    <div>
        <p>Liens vers: <a href="https://gitlab.huma-num.fr/vdecraene/DicoNumFermeGe" id="links_notices">Gitlab</a> - <a
                href="#" id="links_notices">Nakala</a></p>
    </div>
</footer>
</html>